<div class="row">
    <div class="col-md-12">
      <nb-card status="success">
        <nb-card-header>Daily-Attendance </nb-card-header>
        
        <nb-card-body>
            <form [formGroup]="DailyAttendanceForm" #form="ngForm" aria-labelledby="title">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputSrNo" class="label">SrNo</label>
                          <input type="text" nbInput fullWidth id="inputSrNo" formControlName="SrNo" placeholder="SrNo" required [status]="f.SrNo.dirty ? (f.SrNo.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.SrNo.invalid && f.SrNo.touched">
                            <p class="caption status-danger" *ngIf="f.SrNo.invalid">
                                SrNo is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_Department" class="label">Department</label>
                          <div>
                            <nb-select nbSelect id="select_Department" formControlName="Department" placeholder="Select Department" fullWidth="true">
                              <nb-option>Select Department</nb-option>
                              <nb-option *ngFor="let items of Departments" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.Department.invalid && f.Department.touched">
                              <p class="caption status-danger" *ngIf="f.Department.hasError('required')">
                                Please choose Department
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_Year" class="label">Year</label>
                          <div>
                            <nb-select nbSelect id="select_Year" formControlName="Year" placeholder="Select Year" fullWidth="true">
                              <nb-option>Select Year</nb-option>
                              <nb-option *ngFor="let items of Years" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.Year.invalid && f.Year.touched">
                              <p class="caption status-danger" *ngIf="f.Year.hasError('required')">
                                Please choose Year
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="select_Month" class="label">Month</label>
                      <div>
                        <nb-select nbSelect id="select_Month" formControlName="Month" placeholder="Select Month" fullWidth="true">
                          <nb-option>Select Month</nb-option>
                          <nb-option *ngFor="let items of Months" [value]="items.XCode">
                            {{items.XName}}
                          </nb-option>
                        </nb-select>
                        <ng-container *ngIf="f.Month.invalid && f.Month.touched">
                          <p class="caption status-danger" *ngIf="f.Month.hasError('required')">
                            Please choose Month
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
              </div>
          
              <button type="reset" nbButton status="basic" class="float-right" outline>
                Cancel
              </button>
        
              <button type="submit" nbButton status="success" class="float-right" 
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted" outline>
                Submit
              </button>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
            <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
            <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
            <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
          </nb-card-footer>
      </nb-card>
    </div>
  </div>