<h1 id="title" class="title">Login</h1>
<form aria-labelledby="title" [formGroup]="loginForm">
  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input
      nbInput
      fullWidth
      class="form-control"
      name="email"
      formControlName="email"
      id="input-email"
      placeholder="Email address"
      fieldSize="large"
      autofocus
    />
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
      <a class="forgot-password caption-2" routerLink="../request-password"
        >Forgot Password?</a
      >
    </span>
    <input
      nbInput
      fullWidth
      formControlName="password"
      class="form-control"
      name="password"
      type="password"
      id="input-password"
      placeholder="Password"
      fieldSize="large"
    />
    <!-- <ng-container>
      <p class="caption status-danger">Password is required!</p>
    </ng-container> -->
  </div>

  <button nbButton type="submit"  (click)="login()" fullWidth status="primary" class="btn btn-primary" size="large">Log In</button>
</form>

<section class="another-action" aria-label="Register">
  Don't have an account?
  <a class="text-link" routerLink="../register">Register</a>
</section>
