<div class="row">
    <div class="col-md-12">
      <nb-card status="success">
        <nb-card-header>Stock Report Form</nb-card-header>
        
        <nb-card-body>

          <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
          styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines" 
          responsiveLayout="scroll"
          [resizableColumns]="true"
          [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="tble_loading"
          [rowsPerPageOptions]="[10,25,50]">

          <ng-template pTemplate="caption">
            <div class="test">
            <div class="table-header">
              Stock Report
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Search keyword" />
                </span>
            </div>
          </div>
        </ng-template>

          <!-- <ng-template pTemplate="caption">
            <div class="test">
              <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                      </span>
              </div>
            </div>

           
          </ng-template> -->
          
              <ng-template pTemplate="header">
                  <tr>
                      <th>Rnk</th>
                      <th>ItemCode</th>
                      <th>ItemName</th>
                      <th>ItemType</th>
                      <th>Kitchen</th>
                      <th>PackUnit</th>
                      <th>Available_Stock</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                  <tr>
                      <td>{{product.Rnk}}</td>
                      <td>{{product.ItemCode}}</td>
                      <td>{{product.ItemName}}</td>
                      <td>{{product.ItemType}}</td>
                      <td>{{product.Kitchen}}</td>
                      <td>{{product.PackUnit}}</td>
                      <td>{{product.Available_Stock}}</td>
                  </tr>
              </ng-template>
          </p-table>

          
        </nb-card-body>
        <nb-card-footer>
          <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
          <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
          <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
          <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>

  

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>