<div class="row">
    <div class="col-md-12">
      <nb-card status="success">
        <nb-card-header>POS Form</nb-card-header>
        
        <nb-card-body>

          <nb-tabset tabId="tb_fm" (changeTab)="selectTab($event)">
            <nb-tab tabTitle="POS" [active]="tb_IsActive">
              <form [formGroup]="POSForm" #form="ngForm" aria-labelledby="title">
          <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="inputDate" class="label">Date</label>
                    <input type="text" nbInput fullWidth [nbDatepicker]="inputDate" formControlName="Date" placeholder="Date" required [status]="f.Date.dirty ? (f.Date.invalid  ? 'danger' : 'success') : 'basic'">
                    <nb-datepicker #inputDate></nb-datepicker>
                    <ng-container *ngIf="f.Date.invalid && f.Date.touched">
                      <p class="caption status-danger" *ngIf="f.Date.invalid">
                        Date is required
                      </p>
                    </ng-container>
                  </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="selectRoom" class="label">Room</label>
                <div class="">
                  <nb-select nbSelect id="selectRoom" formControlName="Room" 
                  (selectedChange)="get_Room_TableNo_List($event)"
                  fullWidth placeholder="Select Room">
                    <nb-option>Select Room</nb-option>
                    <nb-option *ngFor="let items of Room_List" [value]="items.XCode">
                      {{items.XName}}
                    </nb-option>
                  </nb-select>
                  <ng-container *ngIf="f.Room.invalid && f.Room.touched">
                    <p class="caption status-danger" *ngIf="f.Room.hasError('required')">
                      Please choose Room
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label for="selectTableNo" class="label">TableNo</label>
                  <div class="">
                    <nb-select nbSelect id="selectTableNo" formControlName="TableNo" 
                    (selectedChange)="get_Order_Item_List_ByRoom_TableNo($event)"
                    fullWidth placeholder="Select TableNo">
                      <nb-option>Select TableNo</nb-option>
                      <nb-option *ngFor="let items of Room_TableNo_List" [value]="items.XCode">
                        {{items.XName}}
                      </nb-option>
                    </nb-select>
                    <ng-container *ngIf="f.TableNo.invalid && f.TableNo.touched">
                      <p class="caption status-danger" *ngIf="f.TableNo.hasError('required')">
                        Please choose TableNo
                      </p>
                    </ng-container>
                  </div>
                </div>
              </div>
          </div>
         <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                  <label for="selectCustomer" class="label">Customer</label>
                  <div class="">
                    <nb-select nbSelect id="selectCustomer" formControlName="Customer" fullWidth placeholder="Select Customer">
                      <nb-option>Select Customer</nb-option>
                      <nb-option *ngFor="let items of Customer_List" [value]="items.XCode">
                        {{items.XName}}
                      </nb-option>
                    </nb-select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputDiscount" class="label">Discount</label>
                  <input type="text" nbInput fullWidth id="inputDiscount" formControlName="Discount" placeholder="Discount"
                  (keyup)="Qty_onKeyUp($event)" (click)="$event.target.select()"
                  [status]="f.Discount.dirty ? (f.Discount.invalid  ? 'danger' : 'success') : 'basic'">
                  <ng-container *ngIf="f.Discount.invalid && f.Discount.touched">
                    <p class="caption status-danger" *ngIf="f.Discount.hasError('required')">
                      Discount is required
                    </p>
                    <p class="caption status-danger" *ngIf="f.Discount.errors?.pattern">
                      Discount is invalid
                    </p>
                  </ng-container>
                </div>

              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputTotalAmount" class="label">TotalAmount</label>
                  <input type="text" nbInput fullWidth id="inputTotalAmount" formControlName="TotalAmount" placeholder="TotalAmount"
                  readonly 
                  [status]="f.TotalAmount.dirty ? (f.TotalAmount.invalid  ? 'danger' : 'success') : 'basic'">
                  <ng-container *ngIf="f.TotalAmount.invalid && f.TotalAmount.touched">
                    <p class="caption status-danger" *ngIf="f.TotalAmount.hasError('required')">
                      TotalAmount is required
                    </p>
                    <p class="caption status-danger" *ngIf="f.TotalAmount.errors?.pattern">
                      TotalAmount is invalid
                    </p>
                  </ng-container>
                </div>

              </div>
         </div>
         <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="selectMOP" class="label">MOP</label>
              <div class="">
                <nb-select nbSelect id="selectMOP" formControlName="MOP" fullWidth placeholder="Select MOP">
                  <nb-option>Select MOP</nb-option>
                  <nb-option *ngFor="let items of MOP_List" [value]="items.XCode">
                    {{items.XName}}
                  </nb-option>
                </nb-select>
                <ng-container *ngIf="f.MOP.invalid && f.MOP.touched">
                  <p class="caption status-danger" *ngIf="f.MOP.hasError('required')">
                    Please choose MOP
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
         </div>

          <hr>
        

        <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="card">
              <!-- <p-toolbar styleClass="p-mb-4"> -->
                  <!-- <ng-template pTemplate="left"> -->
                    <!-- <button type="button" nbButton size="small" status="success" (click)="openNew()" class ="mr-2"
                        title="Add New">
                        <nb-icon icon="plus"></nb-icon>
                        New
                      </button>
                      <button type="button" nbButton size="small" status="danger" (click)="deleteSelectedProducts()"
                      [disabled]="!selectedProducts || !selectedProducts.length"
                      title="Delete Entry">
                      <nb-icon icon="trash"></nb-icon>
                    </button> -->

                      <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> -->
                      <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
                  <!-- </ng-template> -->
          
                  <!-- <ng-template pTemplate="right">
                      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                  </ng-template> -->
              <!-- </p-toolbar> -->

                  <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['Sr','Item.label','Qty','Rate','Amount']" responsiveLayout="scroll"
                  styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines"
                  [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                  
                  <ng-template pTemplate="caption">
                    <div class="test">
                    <div class="table-header">
                        List of Items
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Global Search" />
                        </span>
                    </div>
                  </div>
                </ng-template>
                  

                  <ng-template pTemplate="header">
                      <tr>                         
                          <th>Sr</th>
                          <th>Item</th>
                          <th>Qty</th>
                          <th>Rate</th>
                          <th>Amount</th>
                          <th>NetAmount</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                      <tr>
                          <td>{{product.Id}}</td>
                          <td>{{product.Item.label}}</td>
                          <td>{{product.Qty}}</td>
                          <td>{{product.Rate}}</td>
                          <td>{{product.Amount | currency:'INR'}}</td>
                          <td>{{product.NetAmount | currency:'INR'}}</td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                      <div class="p-d-flex p-ai-center p-jc-between">
                          In total there are {{products ? products.length : 0 }} products.
                      </div>
                  </ng-template>
              </p-table>
            </div>
                

            </div>
            
        </div>
        <br>
         <button type="reset" nbButton status="basic" class="float-right" 
         (click)="ResetForm()" outline>
          Cancel
        </button>
  
        <button type="submit" nbButton status="success" class="float-right mr-2" *ngIf="!IsUpdate"
        [disabled]="submitted || !form.valid"
        [class.btn-pulse]="submitted" name="Save" (click)="onSubmit('Save')" outline>
          Submit
        </button>

        <button type="submit" nbButton status="info" class="float-right mr-2" *ngIf="IsUpdate"
        [disabled]="submitted || !form.valid"
        [class.btn-pulse]="submitted" name="Update" (click)="onSubmit('Update')" outline>
          Update
        </button>

        </form>
            </nb-tab>
            <nb-tab tabId="tb_lstVw" tabTitle="List-View" [active]="!tb_IsActive">
              <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
              styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines" 
              responsiveLayout="scroll"
              [resizableColumns]="true"
              [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="tble_loading"
              [rowsPerPageOptions]="[10,25,50]">

              <ng-template pTemplate="caption">
                <div class="test">
                <div class="table-header">
                    List-View
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Search keyword" />
                    </span>
                </div>
              </div>
            </ng-template>

              <!-- <ng-template pTemplate="caption">
                <div class="test">
                  <div class="p-d-flex">
                    <span class="p-input-icon-left p-ml-auto">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                          </span>
                  </div>
                </div>

               
              </ng-template> -->
              
                  <ng-template pTemplate="header">
                      <tr>
                          <th pResizableColumn>Action</th>
                          <th>Rnk</th>
                          <th>SrNo</th>
                          <th>Date</th>
                          <th>Room</th>
                          <th>TableNo</th>
                          <th>Customer</th>
                          <th>Discount</th>
                          <th>TotalAmount</th>
                          <th>MOP</th>
                          <th>IpAddress</th>
                          <th>CreatedByName</th>
                          <th>CreatedDateTime</th>
                          <th>ModifiedByName</th>
                          <th>ModifiedDateTime</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                      <tr>
                          <td>
                            <button type="button" nbButton status="success" class="mr-2" (click)="editPurchaseOrder(product.SrNo)"
                            title="Edit Entry">
                            <nb-icon icon="edit"></nb-icon>
                            </button>
                            <button type="button" nbButton status="info" (click)="Get_Print(product.SrNo)"
                            title="Print">
                            <i class="fas fa-print"></i>
                            </button>
                          </td>
                          <td>{{product.Rnk}}</td>
                          <td>{{product.SrNngo}}</td>
                          <td>{{product.Date}}</td>
                          <td>{{product.Room}}</td>
                          <td>{{product.TableNo}}</td>
                          <td>{{product.Customer}}</td>
                          <td>{{product.Discount | currency:'INR'}}</td>
                          <td>{{product.TotalAmount | currency:'INR'}}</td>
                          <td>{{product.MOP}}</td>
                          <td>{{product.IpAddress}}</td>
                          <td>{{product.CreatedByName}}</td>
                          <td>{{product.CreatedDateTime}}</td>
                          <td>{{product.ModifiedByName}}</td>
                          <td>{{product.ModifiedDateTime}}</td>
                      </tr>
                  </ng-template>
              </p-table>
            </nb-tab>
          </nb-tabset>

          
        </nb-card-body>
        <nb-card-footer>
          <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
          <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
          <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
          <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>

  <p-dialog [(visible)]="productDialog" [style]="{width: '50vw'}" header="Print" [modal]="true" styleClass="p-fluid">
    
    <nb-card>
      <nb-card-body>
       <div [innerHTML]="PrintString"></div>
      </nb-card-body>
    </nb-card>
    <ng-template pTemplate="content">
      
    </ng-template>

    <ng-template pTemplate="footer">

      <!-- <button type="reset" nbButton status="basic" (click)="hideDialog()" outline>
        Cancel
      </button> -->

      <!-- <button type="submit" nbButton status="success" class="float-right" 
      [disabled]="submitted_trx || !formItem.valid"
      [class.btn-pulse]="submitted_trx" (click)="saveProduct()" outline>
        Submit
      </button> -->
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>