<div class="row">
    <div class="col-md-12">
      <nb-card status="success">
        <nb-card-header>Payroll-Calender </nb-card-header>
        
        <nb-card-body>
            <form [formGroup]="PayrollCalenderForm" #form="ngForm" aria-labelledby="title">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputSrNo" class="label">SrNo</label>
                          <input type="text" nbInput fullWidth id="inputSrNo" formControlName="SrNo" placeholder="SrNo" required [status]="f.SrNo.dirty ? (f.SrNo.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.SrNo.invalid && f.SrNo.touched">
                            <p class="caption status-danger" *ngIf="f.SrNo.invalid">
                                SrNo is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputDate" class="label">Date</label>
                          <input type="text" nbInput fullWidth id="inputDate" formControlName="Date" placeholder="Date" required [status]="f.Date.dirty ? (f.Date.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Date.invalid && f.Date.touched">
                            <p class="caption status-danger" *ngIf="f.Date.invalid">
                                Date is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_Calender" class="label">Calender</label>
                          <div>
                            <nb-select nbSelect id="select_Calender" formControlName="Calender" placeholder="Select Calender" fullWidth="true">
                              <nb-option>Select Calender</nb-option>
                              <nb-option *ngFor="let items of Calenders" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.Calender.invalid && f.Calender.touched">
                              <p class="caption status-danger" *ngIf="f.Calender.hasError('required')">
                                Please choose Calender
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="select_CalenderType" class="label">Calender Type</label>
                      <div>
                        <nb-select nbSelect id="select_CalenderType" formControlName="CalenderType" placeholder="Select Calender Type" fullWidth="true">
                          <nb-option>Select Calender Type</nb-option>
                          <nb-option *ngFor="let items of CalenderTypes" [value]="items.XCode">
                            {{items.XName}}
                          </nb-option>
                        </nb-select>
                        <ng-container *ngIf="f.CalenderType.invalid && f.CalenderType.touched">
                          <p class="caption status-danger" *ngIf="f.CalenderType.hasError('required')">
                            Please choose Calender Type
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="select_PeriodType" class="label">Period Type</label>
                      <div>
                        <nb-select nbSelect id="select_PeriodType" formControlName="PeriodType" placeholder="Select Period Type" fullWidth="true">
                          <nb-option>Select Period Type</nb-option>
                          <nb-option *ngFor="let items of PeriodTypes" [value]="items.XCode">
                            {{items.XName}}
                          </nb-option>
                        </nb-select>
                        <ng-container *ngIf="f.PeriodType.invalid && f.PeriodType.touched">
                          <p class="caption status-danger" *ngIf="f.PeriodType.hasError('required')">
                            Please choose Period Type
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
              </div>
          
              <button type="reset" nbButton status="basic" class="float-right" outline>
                Cancel
              </button>
        
              <button type="submit" nbButton status="success" class="float-right" 
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted" outline>
                Submit
              </button>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
            <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
            <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
            <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
          </nb-card-footer>
      </nb-card>
    </div>
  </div>