<div class="row">
    <div class="col-md-12">
      <nb-card accent="info">
        <nb-card-header>Add Stock </nb-card-header>
        <nb-card-body>
          <nb-tabset tabId="tb_fm" (changeTab)="selectTab($event)">
            <nb-tab tabTitle="Add Stock" [active]="tb_IsActive">
              <form [formGroup]="AddStockForm" #form="ngForm" aria-labelledby="title" autocomplete="off">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputDate" class="label">Date</label>
                            <input type="text" nbInput fullWidth [nbDatepicker]="inputDate" formControlName="Date" placeholder="Date" required [status]="f.Date.dirty ? (f.Date.invalid  ? 'danger' : 'success') : 'basic'">
                            <nb-datepicker #inputDate></nb-datepicker>
                            <ng-container *ngIf="f.Date.invalid && f.Date.touched">
                              <p class="caption status-danger" *ngIf="f.Date.invalid">
                                Date is required
                              </p>
                            </ng-container>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_ItemName" class="label">Item Name</label>
                          <div>
                            <nb-select nbSelect id="select_ItemName" formControlName="ItemName"
                            placeholder="Select Item Name" fullWidth="true">
                              <nb-option>Select Item Name</nb-option>
                              <nb-option *ngFor="let items of ItemName_List" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.ItemName.invalid && f.ItemName.touched">
                              <p class="caption status-danger" *ngIf="f.ItemName.hasError('required')">
                                Please choose Item Name
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_PackUnit" class="label">Pack Unit</label>
                          <div>
                            <nb-select nbSelect id="select_PackUnit" formControlName="PackUnit"
                            placeholder="Select Pack Unit" fullWidth="true">
                              <nb-option>Select Pack Unit</nb-option>
                              <nb-option *ngFor="let items of PackUnit_List" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.PackUnit.invalid && f.PackUnit.touched">
                              <p class="caption status-danger" *ngIf="f.PackUnit.hasError('required')">
                                Please choose Pack Unit
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="inputQty" class="label">Qty</label>
                        <input type="text" nbInput fullWidth id="inputQty" formControlName="Qty" placeholder="Qty" required [status]="f.Qty.dirty ? (f.Qty.invalid  ? 'danger' : 'success') : 'basic'">
                        <ng-container *ngIf="f.Qty.invalid && f.Qty.touched">
                          <p class="caption status-danger" *ngIf="f.Qty.invalid">
                            Qty is required
                          </p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="select_Kitchen" class="label">Kitchen</label>
                        <div>
                          <nb-select nbSelect id="select_Kitchen" formControlName="Kitchen"
                          placeholder="Select Kitchen" fullWidth="true">
                            <nb-option>Select Kitchen</nb-option>
                            <nb-option *ngFor="let items of Kitchen_List" [value]="items.XCode">
                              {{items.XName}}
                            </nb-option>
                          </nb-select>
                          <ng-container *ngIf="f.Kitchen.invalid && f.Kitchen.touched">
                            <p class="caption status-danger" *ngIf="f.Kitchen.hasError('required')">
                              Please choose Kitchen
                            </p>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                      <!-- <div class="col-md-4 mt-4">
                        <nb-toggle status="primary" formControlName="InActive" >InActive</nb-toggle>
                    </div> -->
                  </div>

                  <button type="reset" nbButton status="basic" class="float-right" 
                  (click)="Btn_Reset()" outline>
                   Cancel
                 </button>
           
                 <button type="submit" nbButton status="success" class="float-right mr-2" *ngIf="!IsUpdate"
                 [disabled]="submitted || !form.valid"
                 [class.btn-pulse]="submitted" name="Save" (click)="onSubmit('Save')" outline>
                   Submit
                 </button>
         
                 <button type="submit" nbButton status="info" class="float-right mr-2" *ngIf="IsUpdate"
                 [disabled]="submitted || !form.valid"
                 [class.btn-pulse]="submitted" name="Update" (click)="onSubmit('Update')" outline>
                   Update
                 </button>
                </form>
            </nb-tab>

            <nb-tab tabId="tb_lstVw" tabTitle="List-View" [active]="!tb_IsActive">
              <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
              styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines" 
              responsiveLayout="scroll"
              [resizableColumns]="true"
              [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="tble_loading"
              [rowsPerPageOptions]="[10,25,50]">

              <ng-template pTemplate="caption">
                <div class="test">
                <div class="table-header">
                    List-View
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Search keyword" />
                    </span>
                </div>
              </div>
            </ng-template>
                  <ng-template pTemplate="header">
                      <tr>
                          <th pResizableColumn>Action</th>
                          <th>SrNo</th>
                          <th>Date</th>
                          <th>Item Name</th>
                          <th>Pack Unit</th>
                          <th>Qty</th>
                          <th>To Kitchen</th>
                          <th>Status</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                      <tr>
                          <td>
                            <button type="button" nbButton status="success" class="mr-2" (click)="editAddStock(product.SrNo)"
                            title="Edit Entry">
                            <nb-icon icon="edit"></nb-icon>
                            </button>
                            <!-- <button type="button" nbButton status="danger" (click)="deleteAddStock_Confirm(product.SrNo)"
                            title="Delete Entry">
                            <nb-icon icon="trash"></nb-icon>
                          </button> -->
                          </td>
                          <td>{{product.SrNo}}</td>
                          <td>{{product.Date}}</td>
                          <td>{{product.ItemName}}</td>
                          <td>{{product.PackUnit}}</td>
                          <td>{{product.Qty}}</td>
                          <td>{{product.Kitchen}}</td>
                          <td>
                            <p-badge [value]="product.Status" [severity]="product.Status  == 'Active' ? 'success':'danger'" 
                            styleClass="p-mr-2"></p-badge>
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
        <nb-card-footer>
            <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
            <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
            <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
            <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
          </nb-card-footer>
      </nb-card>
    </div>
  </div>