<div class="row">
  <div class="col-md-12">
    <nb-card status="success">
      <nb-card-header>Item Card</nb-card-header>
      <nb-card-body>
        <nb-tabset tabId="tb_fm" (changeTab)="selectTab($event)">
          <nb-tab tabTitle="Item Card" [active]="tb_IsActive">
            <form [formGroup]="ItemCardForm" #form="ngForm" aria-labelledby="title">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_ItemType" class="label">Item Type</label>
                    <div>
                      <nb-select nbSelect id="select_ItemType" formControlName="ItemType" placeholder="Select Item Type"
                        fullWidth="true">
                        <nb-option>Select Item Type</nb-option>
                        <nb-option *ngFor="let items of ItemTypeList" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.ItemType.invalid && f.ItemType.touched">
                        <p class="caption status-danger" *ngIf="f.ItemType.hasError('required')">
                          Please choose Item Type
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputName" class="label">Name</label>
                    <input type="text" nbInput fullWidth id="inputName" formControlName="Name" placeholder="Name"
                      required [status]="f.Name.dirty ? (f.Name.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Name.invalid && f.Name.touched">
                      <p class="caption status-danger" *ngIf="f.Name.invalid">
                        Name is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputDescription" class="label">Description</label>
                    <input type="text" nbInput fullWidth id="inputDescription" formControlName="Description"
                      placeholder="Description" required
                      [status]="f.Description.dirty ? (f.Description.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Description.invalid && f.Description.touched">
                      <p class="caption status-danger" *ngIf="f.Description.invalid">
                        Description is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                
              </div>
              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_PackUnit" class="label">Pack Unit</label>
                    <div>
                      <nb-select nbSelect id="select_PackUnit" formControlName="PackUnit" placeholder="Select Pack Unit"
                        fullWidth="true">
                        <nb-option>Select Pack Unit</nb-option>
                        <nb-option *ngFor="let items of PackUnitList" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.PackUnit.invalid && f.PackUnit.touched">
                        <p class="caption status-danger" *ngIf="f.PackUnit.hasError('required')">
                          Please choose Pack Unit
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_Cuisines" class="label">Cuisines</label>
                    <div>
                      <nb-select nbSelect id="select_Cuisines" formControlName="Cuisines" placeholder="Select Cuisines"
                        fullWidth="true">
                        <nb-option>Select Cuisines</nb-option>
                        <nb-option *ngFor="let items of CuisinesList" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.Cuisines.invalid && f.Cuisines.touched">
                        <p class="caption status-danger" *ngIf="f.Cuisines.hasError('required')">
                          Please choose Cuisines
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_Marks" class="label">Marks</label>
                    <div>
                      <nb-select nbSelect id="select_Marks" formControlName="Marks" placeholder="Select Marks"
                        fullWidth="true">
                        <nb-option>Select Marks</nb-option>
                        <nb-option *ngFor="let items of MarksList" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.Marks.invalid && f.Marks.touched">
                        <p class="caption status-danger" *ngIf="f.Marks.hasError('required')">
                          Please choose Marks
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>

                
              </div>
              <div class="row">              
                
                <div class="col-md-4" *ngIf="f.ItemType.value == '01ITRM' || f.ItemType.value =='01ITFG'">
                  <div class="form-group">
                    <label for="inputPrice" class="label">Price</label>
                    <input type="text" nbInput fullWidth id="inputPrice" formControlName="Price" placeholder="Price"
                      [status]="f.Price.dirty ? (f.Price.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Price.invalid && f.Price.touched ">
                      <p class="caption status-danger" *ngIf="f.Price.hasError('required')">
                        Price is required!
                      </p>
                      <p class="caption status-danger" *ngIf="f.Price.errors?.pattern">
                        Enter only Number.
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="f.ItemType.value == '01ITFG'">
                  <div class="form-group">
                    <label for="select_Category" class="label">Category</label>
                    <div>
                      <nb-select nbSelect id="select_Category" formControlName="Category" placeholder="Select Category"
                        fullWidth="true">
                        <nb-option>Select Category</nb-option>
                        <nb-option *ngFor="let items of CategoryList" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.Category.invalid && f.Category.touched">
                        <p class="caption status-danger" *ngIf="f.Category.hasError('required')">
                          Please choose Category
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="f.ItemType.value == '01ITFG'">
                  <div class="form-group">
                    <label for="inputOrdering" class="label">Ordering</label>
                    <input type="text" nbInput fullWidth id="inputOrdering" formControlName="Ordering"
                      placeholder="Ordering"
                      [status]="f.Ordering.dirty ? (f.Ordering.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Ordering.invalid && f.Ordering.touched ">
                      <p class="caption status-danger" *ngIf="f.Ordering.hasError('required')">
                        Ordering is required!
                      </p>
                      <p class="caption status-danger" *ngIf="f.Ordering.errors?.pattern">
                        Enter only Number.
                      </p>
                    </ng-container>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-4" *ngIf="f.ItemType.value == '01ITSM' || f.ItemType.value =='01ITFG'">
                  <div class="form-group">
                    <label for="select_Recipe" class="label">Recipe</label>
                    <div>
                      <nb-select nbSelect id="select_Recipe" formControlName="Recipe" placeholder="Select Recipe"
                        fullWidth="true">
                        <nb-option>Select Recipe</nb-option>
                        <nb-option *ngFor="let items of RecipeList" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.Recipe.invalid && f.Recipe.touched">
                        <p class="caption status-danger" *ngIf="f.Recipe.hasError('required')">
                          Please choose Recipe
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="f.ItemType.value == '01ITSM' || f.ItemType.value =='01ITFG'">
                  <div class="form-group">
                    <label for="inputRecipeQty" class="label">Recipe Qty (In gm)</label>
                    <input type="text" nbInput fullWidth id="inputRecipeQty" formControlName="RecipeQty" placeholder="Recipe Qty"
                      [status]="f.RecipeQty.dirty ? (f.RecipeQty.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.RecipeQty.invalid && f.RecipeQty.touched ">
                      <p class="caption status-danger" *ngIf="f.RecipeQty.hasError('required')">
                        Price is required!
                      </p>
                      <p class="caption status-danger" *ngIf="f.RecipeQty.errors?.pattern">
                        Enter only Number.
                      </p>
                    </ng-container>
                  </div>
                </div>
                
                <div class="col-md-4 mt-4">
                  <nb-toggle status="primary" formControlName="InActive">Active</nb-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <legend>Image</legend>
                  <div class="fileinput-new thumbnail">
                    <img class="mat-card-image" [src]="imageSrc" style="width:100%;padding-bottom: 10px;height: 177px;">
                  </div>
                  <button nbButton type="button" status="basic" (click)="fileInput.click()" *ngIf="IsImg1_btn_Show"
                    outline>Choose File</button>
                  <input nbInput hidden (change)="onFileChange($event)" type="file" #fileInput class="input-File"
                    placeholder="Select Image" formControlName="Image1_Source">
                  <button type="button" nbButton status="primary" *ngIf="!IsImg1_btn_Show" (click)="openDialog('1')"
                    outline>Preview</button>
                  <button type="button" nbButton status="danger" class="float-right" (click)="onFileClear('1')"
                    *ngIf="!IsImg1_btn_Show" title="Remove Image">
                    <nb-icon icon="trash"></nb-icon>
                  </button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="card">
                    <p-toolbar styleClass="p-mb-4">
                      <ng-template pTemplate="left">
                        <button type="button" nbButton size="small" status="success" (click)="openNew()" class="mr-2"
                          title="Add New">
                          <nb-icon icon="plus"></nb-icon>New
                        </button>
                        <button type="button" nbButton size="small" status="danger" (click)="deleteSelectedProducts()"
                          [disabled]="!selectedProducts || !selectedProducts.length" title="Delete Entry">
                          <nb-icon icon="trash"></nb-icon>
                        </button>
                      </ng-template>

                      <ng-template pTemplate="right">
                        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                          chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                      </ng-template>
                    </p-toolbar>

                    <p-table #dt [value]="products" [rows]="10" [paginator]="true"
                      [globalFilterFields]="['Sr','Item.label','ConversionFactor']" responsiveLayout="scroll"
                      styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines"
                      [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                      [showCurrentPageReport]="true">

                      <ng-template pTemplate="caption">
                        <div class="test">
                          <div class="table-header">
                            List of Customers
                            <span class="p-input-icon-left">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                class="p-inputtext" placeholder="Global Search" />
                            </span>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th>Sr</th>
                          <th>Conversion Unit</th>
                          <th>Conversion Factor</th>
                          <th>Action</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-product>
                        <tr>
                          <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                          </td>
                          <td>{{product.Sr}}</td>
                          <td>{{product.ConversionUnit.label}}</td>
                          <td>{{product.ConversionFactor}}</td>
                          <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                              (click)="edit_Cnvrsn_Popup(product)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                              (click)="delete_Cnvrsn_Popup(product)"></button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                          In total there are {{products ? products.length : 0 }} products.
                        </div>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
              <br>
              <button type="reset" nbButton status="basic" class="float-right" (click)="Btn_Reset()" outline>
                Cancel
              </button>

              <button type="submit" nbButton status="success" class="float-right mr-2" *ngIf="!IsUpdate"
                [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted" name="Save"
                (click)="onSubmit('Save')" outline>
                Submit
              </button>
              <button type="submit" nbButton status="info" class="float-right mr-2" *ngIf="IsUpdate"
                [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted" name="Update"
                (click)="onSubmit('Update')" outline>
                Update
              </button>
            </form>
          </nb-tab>
          <nb-tab tabId="tb_lstVw" tabTitle="List-View" [active]="!tb_IsActive">
            <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
              styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines"
              responsiveLayout="scroll" [resizableColumns]="true" [paginator]="true" [rows]="10"
              [totalRecords]="totalRecords" [loading]="tble_loading" [rowsPerPageOptions]="[10,25,50]">
              <ng-template pTemplate="caption">
                <div class="test">
                  <div class="table-header">
                    List-View
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        class="p-inputtext" placeholder="Search keyword" />
                    </span>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pResizableColumn>Action</th>
                  <th>Sr. No.</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Item Type</th>
                  <th>Marks</th>
                  <th>Category</th>
                  <th>Recipe</th>
                  <th>Recipe Qty</th>
                  <th>Cuisines</th>
                  <th>Pack Unit</th>
                  <th>Ordering</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>Image</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>
                    <button type="button" nbButton status="success" class="mr-2" (click)="editProduct(product.SrNo)"
                      title="Edit Entry">
                      <nb-icon icon="edit"></nb-icon>
                    </button>
                    <button type="button" nbButton status="danger" (click)="deleteProduct_Confirm(product.SrNo)"
                      title="Delete Entry">
                      <nb-icon icon="trash"></nb-icon>
                    </button>
                  </td>
                  <td>{{product.SrNo}}</td>
                  <td>{{product.Name}}</td>
                  <td>{{product.Description}}</td>
                  <td>{{product.ItemType}}</td>
                  <td>{{product.Marks}}</td>
                  <td>{{product.Category}}</td>
                  <td>{{product.Recipe}}</td>
                  <td>{{product.RecipeQty}}</td>
                  <td>{{product.Cuisines}}</td>
                  <td>{{product.PackUnit}}</td>
                  <td>{{product.Ordering}}</td>
                  <td>{{product.Price | currency:'INR'}}</td>
                  <td>
                    <p-badge [value]="product.Status" [severity]="product.Status  == 'Active' ? 'success':'danger'"
                      styleClass="p-mr-2"></p-badge>
                  </td>
                  <td><img [src]="'http://api.icorrect.in/Upload/ItemCard/1/' + product.Image1" [alt]="product.Image1"
                      width="100" class="p-shadow-4" style="height: 50px;width: 100px;" /></td>
                </tr>
              </ng-template>
            </p-table>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
      <nb-card-footer>
        <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
        <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
        <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
        <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
  styleClass="p-fluid">

  <nb-card>
    <nb-card-body>
      <form [formGroup]="TrxForm" #formItem="ngForm" aria-labelledby="title">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="selectConversionUnit" class="label">Conversion Unit</label>
              <div>
                <p-autoComplete formControlName="ConversionUnit" [virtualScroll]="true" [suggestions]="filteredItems"
                  [itemSize]="34" (completeMethod)="filterItems($event)" field="label" [dropdown]="true">
                </p-autoComplete>
                <ng-container *ngIf="t.ConversionUnit.invalid && t.ConversionUnit.touched">
                  <p class="caption status-danger" *ngIf="t.ConversionUnit.hasError('required')">
                    Conversion Unit is required
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="inputConversionFactor" class="label">Conversion Factor</label>
              <input type="text" nbInput fullWidth id="inputConversionFactor" formControlName="ConversionFactor"
                placeholder="Conversion Factor"
                [status]="t.ConversionFactor.dirty ? (t.ConversionFactor.invalid  ? 'danger' : 'success') : 'basic'">
              <ng-container *ngIf="t.ConversionFactor.invalid && t.ConversionFactor.touched">
                <p class="caption status-danger" *ngIf="t.ConversionFactor.hasError('required')">
                  Conversion Factor is required
                </p>
                <p class="caption status-danger" *ngIf="t.ConversionFactor.errors?.pattern">
                  Enter only Number.
                </p>
              </ng-container>
            </div>
          </div>
        </div>

      </form>

    </nb-card-body>
  </nb-card>
  <ng-template pTemplate="content">

  </ng-template>

  <ng-template pTemplate="footer">
    <button type="reset" nbButton status="basic" (click)="hideDialog()" outline>
      Cancel
    </button>

    <button type="submit" nbButton status="success" class="float-right" [disabled]="submitted_trx || !formItem.valid"
      [class.btn-pulse]="submitted_trx" (click)="saveProduct()" outline>
      Submit
    </button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>