  <div class="row">
    <div class="col-md-12">
      <nb-card accent="info">
        <nb-card-header>Customer </nb-card-header>
        
        <nb-card-body>

          <nb-tabset tabId="tb_fm" (changeTab)="selectTab($event)">
            <nb-tab tabTitle="Customer" [active]="tb_IsActive">
              <form [formGroup]="CustomerForm" #form="ngForm" aria-labelledby="title" autocomplete="off">
                <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputFirstName" class="label">First Name</label>
                          <input type="text" nbInput fullWidth id="inputFirstName" formControlName="FirstName" placeholder="First Name" required [status]="f.FirstName.dirty ? (f.FirstName.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.FirstName.invalid && f.FirstName.touched">
                            <p class="caption status-danger" *ngIf="f.FirstName.invalid">
                                First Name is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputLastName" class="label">Last Name</label>
                          <input type="text" nbInput fullWidth id="inputLastName" formControlName="LastName" placeholder="Last Name" required [status]="f.LastName.dirty ? (f.LastName.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.LastName.invalid && f.LastName.touched">
                            <p class="caption status-danger" *ngIf="f.LastName.invalid">
                                Last Name is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputMobile" class="label">Mobile</label>
                          <input type="text" nbInput fullWidth id="inputMobile" formControlName="Mobile" placeholder="Mobile" required [status]="f.Mobile.dirty ? (f.Mobile.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Mobile.invalid && f.Mobile.touched">
                            <p class="caption status-danger" *ngIf="f.Mobile.hasError('required')">
                              Mobile is required
                            </p>
                            <p class="caption status-danger" *ngIf="f.Mobile.errors?.pattern">
                              Enter only Number.
                            </p>
                          </ng-container>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputEmail" class="label">Email</label>
                          <input type="text" nbInput fullWidth id="inputEmail" formControlName="Email" placeholder="Email" required [status]="f.Email.dirty ? (f.Email.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Email.invalid && f.Email.touched">
                            <p class="caption status-danger" *ngIf="f.Email.invalid">
                                Email is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputDOB" class="label">DOB</label>
                            <input type="text" nbInput fullWidth [nbDatepicker]="inputDOB" formControlName="DOB" placeholder="DOB" 
                            (ngModelChange)="getAge($event)"
                            required [status]="f.DOB.dirty ? (f.DOB.invalid  ? 'danger' : 'success') : 'basic'">
                            <nb-datepicker #inputDOB></nb-datepicker>
                            <ng-container *ngIf="f.DOB.invalid && f.DOB.touched">
                              <p class="caption status-danger" *ngIf="f.DOB.invalid">
                                DOB is required
                              </p>
                            </ng-container>
                          </div>
                      </div>

                         
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputAge" class="label">Age</label>
                          <input type="text" nbInput fullWidth id="inputAge" formControlName="Age" placeholder="Age" 
                          readonly [status]="f.Age.dirty ? (f.Age.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Age.invalid && f.Age.touched">
                            <p class="caption status-danger" *ngIf="f.Age.hasError('required')">
                              Age is required
                            </p>
                            <p class="caption status-danger" *ngIf="f.Age.errors?.pattern">
                              Enter only Number.
                            </p>
                          </ng-container>
                        </div>
                      </div>                
                  </div>
                  <div class="row">
                    
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_Gender" class="label">Gender</label>
                          <div>
                            <nb-select nbSelect id="select_Gender" formControlName="Gender" placeholder="Select Gender" fullWidth="true">
                              <nb-option>Select Gender</nb-option>
                              <nb-option *ngFor="let items of Gender_List" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.Gender.invalid && f.Gender.touched">
                              <p class="caption status-danger" *ngIf="f.Gender.hasError('required')">
                                Please choose Gender
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_MaritalStatus" class="label">Marital Status</label>
                          <div>
                            <nb-select nbSelect id="select_MaritalStatus" formControlName="MaritalStatus" placeholder="Select Marital Status" fullWidth="true">
                              <nb-option>Select Marital Status</nb-option>
                              <nb-option *ngFor="let items of MaritalStatus_List" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.MaritalStatus.invalid && f.MaritalStatus.touched">
                              <p class="caption status-danger" *ngIf="f.MaritalStatus.hasError('required')">
                                Please choose Marital Status
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputSchoolName" class="label">School Name</label>
                          <input type="text" nbInput fullWidth id="inputSchoolName" formControlName="SchoolName" placeholder="School Name" required [status]="f.SchoolName.dirty ? (f.SchoolName.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.SchoolName.invalid && f.SchoolName.touched">
                            <p class="caption status-danger" *ngIf="f.SchoolName.invalid">
                                School Name is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputCollageName" class="label">Collage Name</label>
                          <input type="text" nbInput fullWidth id="inputCollageName" formControlName="CollageName" placeholder="Collage Name" required [status]="f.CollageName.dirty ? (f.CollageName.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.CollageName.invalid && f.CollageName.touched">
                            <p class="caption status-danger" *ngIf="f.CollageName.invalid">
                                Collage Name is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputAddress" class="label">Address</label>
                          <input type="text" nbInput fullWidth id="inputAddress" formControlName="Address" placeholder="Address" required [status]="f.Address.dirty ? (f.Address.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Address.invalid && f.Address.touched">
                            <p class="caption status-danger" *ngIf="f.Address.invalid">
                                Address is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_Country" class="label">Country</label>
                          <div>
                            <nb-select nbSelect id="select_Country" formControlName="Country" 
                            (selectedChange)="get_State_List($event)"
                            placeholder="Select Country" fullWidth="true">
                              <nb-option>Select Country</nb-option>
                              <nb-option *ngFor="let items of Country_List" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.Country.invalid && f.Country.touched">
                              <p class="caption status-danger" *ngIf="f.Country.hasError('required')">
                                Please choose Country
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_State" class="label">State</label>
                          <div>
                            <nb-select nbSelect id="select_State" formControlName="State" 
                            (selectedChange)="get_City_List($event)"
                            placeholder="Select State" fullWidth="true">
                              <nb-option>Select State</nb-option>
                              <nb-option *ngFor="let items of State_List" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.State.invalid && f.State.touched">
                              <p class="caption status-danger" *ngIf="f.State.hasError('required')">
                                Please choose State
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_City" class="label">City</label>
                          <div>
                            <nb-select nbSelect id="select_City" formControlName="City" placeholder="Select City" fullWidth="true">
                              <nb-option>Select City</nb-option>
                              <nb-option *ngFor="let items of City_List" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.City.invalid && f.City.touched">
                              <p class="caption status-danger" *ngIf="f.City.hasError('required')">
                                Please choose City
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 mt-4">
                          <nb-toggle status="primary" formControlName="InActive" >InActive</nb-toggle>
                      </div>
                  </div>

                  <button type="reset" nbButton status="basic" class="float-right" 
                  (click)="Btn_Reset()" outline>
                   Cancel
                 </button>
           
                 <button type="submit" nbButton status="success" class="float-right mr-2" *ngIf="!IsUpdate"
                 [disabled]="submitted || !form.valid"
                 [class.btn-pulse]="submitted" name="Save" (click)="onSubmit('Save')" outline>
                   Submit
                 </button>
         
                 <button type="submit" nbButton status="info" class="float-right mr-2" *ngIf="IsUpdate"
                 [disabled]="submitted || !form.valid"
                 [class.btn-pulse]="submitted" name="Update" (click)="onSubmit('Update')" outline>
                   Update
                 </button>
                 
                </form>
            </nb-tab>
            <nb-tab tabId="tb_lstVw" tabTitle="List-View" [active]="!tb_IsActive">
              <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
              styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines" 
              responsiveLayout="scroll"
              [resizableColumns]="true"
              [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="tble_loading"
              [rowsPerPageOptions]="[10,25,50]">

              <ng-template pTemplate="caption">
                <div class="test">
                <div class="table-header">
                    List-View
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Search keyword" />
                    </span>
                </div>
              </div>
            </ng-template>
              
                  <ng-template pTemplate="header">
                      <tr>
                          <th pResizableColumn>Action</th>
                          <th>Rnk</th>
                          <th>SrNo</th>
                          <th>FirstName</th>
                          <th>LastName</th>
                          <th>Email</th>
                          <th>DOB</th>
                          <th>Age</th>
                          <th>Gender</th>
                          <th>Marital_Status</th>
                          <th>SchoolName</th>
                          <th>CollageName</th>
                          <th>Address</th>
                          <th>Status</th>
                          <th>IpAddress</th>
                          <th>CreatedByName</th>
                          <th>CreatedDateTime</th>
                          <th>ModifiedByName</th>
                          <th>ModifiedDateTime</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                      <tr>
                          <td>
                            <button type="button" nbButton status="success" class="mr-2" (click)="editPurchaseOrder(product.SrNo)"
                            title="Edit Entry">
                            <nb-icon icon="edit"></nb-icon>
                            </button>
                            <!-- <button type="button" nbButton status="danger" (click)="deleteProduct_Confirm(product.SrNo)"
                            title="Delete Entry">
                            <nb-icon icon="trash"></nb-icon>
                            </button> -->
                          </td>
                          <td>{{product.Rnk}}</td>
                          <td>{{product.SrNo}}</td>
                          <td>{{product.FirstName}}</td>
                          <td>{{product.LastName}}</td>
                          <td>{{product.Email}}</td>
                          <td>{{product.DOB}}</td>
                          <td>{{product.Age}}</td>
                          <td>{{product.Gender}}</td>
                          <td>{{product.Marital_Status}}</td>
                          <td>{{product.SchoolName}}</td>
                          <td>{{product.CollageName}}</td>
                          <td>{{product.Address}}</td>                         
                          <td>
                            <p-badge [value]="product.Status" [severity]="product.Status  == 'Active' ? 'success':'danger'" 
                            styleClass="p-mr-2"></p-badge>
                            <!-- <span [class]="'product-badge status-success">
                              {{product.Status}}</span> -->
                            <!-- {{product.Status}} -->
                          </td>
                          <td>{{product.IpAddress}}</td>
                          <td>{{product.CreatedByName}}</td>
                          <td>{{product.CreatedDateTime}}</td>
                          <td>{{product.ModifiedByName}}</td>
                          <td>{{product.ModifiedDateTime}}</td>
                      </tr>
                  </ng-template>
              </p-table>
            </nb-tab>
          </nb-tabset>
 </nb-card-body>
        <nb-card-footer>
            <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
            <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
            <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
            <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
          </nb-card-footer>
      </nb-card>
    </div>
  </div>
