<div class="row">
  <div class="col-md-12">
    <nb-card status="success">
      <nb-card-header>Country</nb-card-header>
      <nb-card-body>
        <nb-tabset tabId="tb_fm" (changeTab)="selectTab($event)">
          <nb-tab tabTitle="Country" [active]="tb_IsActive">
            <form [formGroup]="CountryForm" (ngSubmit)="onSubmit($event.submitter.name)" #form="ngForm"
              aria-labelledby="title">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputCode" class="label">Country Code</label>
                    <input type="text" nbInput fullWidth id="inputCode" formControlName="Code" placeholder="Country Code" required [status]="f.Code.dirty ? (f.Code.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Code.invalid && f.Code.touched">
                      <p class="caption status-danger" *ngIf="f.Code.invalid">
                        Country Code is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputName" class="label">Country Name</label>
                    <input type="text" nbInput fullWidth id="inputName" formControlName="Name" placeholder="Country Name" required [status]="f.Name.dirty ? (f.Name.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Name.invalid && f.Name.touched">
                      <p class="caption status-danger" *ngIf="f.Name.invalid">
                        Country Name is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputPhoneCode" class="label">Phone Code</label>
                    <input type="text" nbInput fullWidth id="inputPhoneCode" formControlName="PhoneCode" placeholder="Phone Code" required [status]="f.PhoneCode.dirty ? (f.PhoneCode.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.PhoneCode.invalid && f.PhoneCode.touched">
                      <p class="caption status-danger" *ngIf="f.PhoneCode.invalid">
                        Phone Code is required
                      </p>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputCurrency" class="label">Currency</label>
                    <input type="text" nbInput fullWidth id="inputCurrency" formControlName="Currency" placeholder="Currency" required [status]="f.Currency.dirty ? (f.Currency.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Currency.invalid && f.Currency.touched">
                      <p class="caption status-danger" *ngIf="f.Currency.invalid">
                        Currency is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4 mt-4">
                  <nb-toggle status="primary" formControlName="InActive">InActive</nb-toggle>
                </div>
              </div>

              <button type="reset" nbButton status="basic" class="float-right" (click)="Btn_Reset()" outline>
                Cancel
              </button>

              <button type="submit" nbButton status="success" class="float-right" *ngIf="!IsUpdate"
                [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted" name="Save" outline>
                Submit
              </button>
              <button type="submit" nbButton status="info" class="float-right" *ngIf="IsUpdate"
                [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted" name="Update" outline>
                Update
              </button>
            </form>
          </nb-tab>
          <nb-tab tabId="tb_lstVw" tabTitle="List-View" [active]="!tb_IsActive">
            <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
              styleClass="p-datatable-striped p-datatable-customers p-datatable-gridlines" responsiveLayout="scroll"
              [resizableColumns]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
              [loading]="tble_loading" [rowsPerPageOptions]="[10,25,50]">
              <ng-template pTemplate="caption">
                <div class="p-d-flex">
                  <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                      placeholder="Search keyword" />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pResizableColumn>Action</th>
                  <th>Country Code</th>
                  <th>Country Name</th>
                  <th>Phone Code</th>
                  <th>Currency</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>
                    <button type="button" nbButton status="success" (click)="editProduct(product.CountryId)"
                      title="Edit Entry">
                      <nb-icon icon="edit"></nb-icon>
                    </button>
                  </td>
                  <td>{{product.Code}}</td>
                  <td>{{product.Name}}</td>
                  <td>{{product.PhoneCode}}</td>
                  <td>{{product.Currency}}</td>
                </tr>
              </ng-template>
            </p-table>
          </nb-tab>
        </nb-tabset>

      </nb-card-body>
      <nb-card-footer>
        <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
        <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
        <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
        <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
      </nb-card-footer>
    </nb-card>
  </div>
</div>