<div class="row">
  <div class="col-md-12">
    <nb-card status="success">
      <nb-card-header>City</nb-card-header>
      <nb-card-body>
        <nb-tabset tabId="tb_fm" (changeTab)="selectTab($event)">
          <nb-tab tabTitle="City" [active]="tb_IsActive">
            <form [formGroup]="CityForm" (ngSubmit)="onSubmit($event.submitter.name)" #form="ngForm"
              aria-labelledby="title">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_State" class="label">State</label>
                    <div>
                      <nb-select nbSelect id="select_State" formControlName="State" placeholder="Select State"
                        fullWidth="true" >
                        <nb-option>Select State</nb-option>
                        <nb-option *ngFor="let items of StateList" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.State.invalid && f.State.touched">
                        <p class="caption status-danger" *ngIf="f.State.hasError('required')">
                          Please choose State
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputCity" class="label">City Name</label>
                    <input type="text" nbInput fullWidth id="inputCity" formControlName="City"
                      placeholder="City Name" required
                      [status]="f.City.dirty ? (f.City.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.City.invalid && f.City.touched">
                      <p class="caption status-danger" *ngIf="f.City.invalid">
                        City is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4 mt-4">
                  <nb-toggle status="primary" formControlName="InActive">InActive</nb-toggle>
                </div>
              </div>

              <button type="reset" nbButton status="basic" class="float-right" (click)="Btn_Reset()" outline>
                Cancel
              </button>

              <button type="submit" nbButton status="success" class="float-right" *ngIf="!IsUpdate"
                [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted" name="Save" outline>
                Submit
              </button>
              <button type="submit" nbButton status="info" class="float-right" *ngIf="IsUpdate"
                [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted" name="Update" outline>
                Update
              </button>
            </form>
          </nb-tab>
          <nb-tab tabId="tb_lstVw" tabTitle="List-View" [active]="!tb_IsActive">
            <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
              styleClass="p-datatable-striped p-datatable-customers p-datatable-gridlines" responsiveLayout="scroll"
              [resizableColumns]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
              [loading]="tble_loading" [rowsPerPageOptions]="[10,25,50]">
              <ng-template pTemplate="caption">
                <div class="p-d-flex">
                  <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                      placeholder="Search keyword" />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pResizableColumn>Action</th>
                  <th>State</th>
                  <th>City</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>
                    <button type="button" nbButton status="success" (click)="editProduct(product.CityId)"
                      title="Edit Entry">
                      <nb-icon icon="edit"></nb-icon>
                    </button>
                  </td>
                  <td>{{product.State}}</td>
                  <td>{{product.City}}</td>
                </tr>
              </ng-template>
            </p-table>
          </nb-tab>
        </nb-tabset>

      </nb-card-body>
      <nb-card-footer>
        <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
        <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
        <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
        <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
      </nb-card-footer>
    </nb-card>
  </div>
</div>