<div class="row">
  <div class="col-md-12">
    <nb-card status="success">
      <nb-card-header>Admin User</nb-card-header>
      <nb-card-body>
        <nb-tabset tabId="tb_fm" (changeTab)="selectTab($event)">
          <nb-tab tabTitle="Admin User" [active]="tb_IsActive">
            <form [formGroup]="AdminUserForm" (ngSubmit)="onSubmit($event.submitter.name)" #form="ngForm"
              aria-labelledby="title">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_HotelId" class="label">Hotel ID</label>
                    <div>
                      <nb-select nbSelect id="select_HotelId" formControlName="HotelId" placeholder="Select Hotel ID"
                        fullWidth="true" >
                        <nb-option>Select Hotel ID</nb-option>
                        <nb-option *ngFor="let items of HotelIdList" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.HotelId.invalid && f.HotelId.touched">
                        <p class="caption status-danger" *ngIf="f.HotelId.hasError('required')">
                          Please choose Hotel ID
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputUserFName" class="label">First Name</label>
                    <input type="text" nbInput fullWidth id="inputUserFName" formControlName="UserFName" placeholder="First Name" required [status]="f.UserFName.dirty ? (f.UserFName.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.UserFName.invalid && f.UserFName.touched">
                      <p class="caption status-danger" *ngIf="f.UserFName.invalid">
                        First Name is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputUserLName" class="label">Last Name</label>
                    <input type="text" nbInput fullWidth id="inputUserLName" formControlName="UserLName" placeholder="Last Name" required [status]="f.UserLName.dirty ? (f.UserLName.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.UserLName.invalid && f.UserLName.touched">
                      <p class="caption status-danger" *ngIf="f.UserLName.invalid">
                        Last Name is required
                      </p>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputUserName" class="label">User Name</label>
                    <input type="text" nbInput fullWidth id="inputUserName" formControlName="UserName" placeholder="User Name" required [status]="f.UserName.dirty ? (f.UserName.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.UserName.invalid && f.UserName.touched">
                      <p class="caption status-danger" *ngIf="f.UserName.invalid">
                        User Name is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputPassword" class="label">Password</label>
                    <input type="text" nbInput fullWidth id="inputPassword" formControlName="Password" placeholder="Password" required [status]="f.Password.dirty ? (f.Password.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Password.invalid && f.Password.touched">
                      <p class="caption status-danger" *ngIf="f.Password.invalid">
                        Password is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputEmail" class="label">Email</label>
                    <input type="text" nbInput fullWidth id="inputEmail" formControlName="Email" placeholder="Email" required [status]="f.Email.dirty ? (f.Email.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Email.invalid && f.Email.touched">
                      <p class="caption status-danger" *ngIf="f.Email.invalid">
                        Email is required
                      </p>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputMobile" class="label">Mobile</label>
                    <input type="text" nbInput fullWidth id="inputMobile" formControlName="Mobile" placeholder="Mobile" required [status]="f.Mobile.dirty ? (f.Mobile.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Mobile.invalid && f.Mobile.touched">
                      <p class="caption status-danger" *ngIf="f.Mobile.invalid">
                        Mobile is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_UserTypeId" class="label">User Type</label>
                    <div>
                      <nb-select nbSelect id="select_UserTypeId" formControlName="UserTypeId" placeholder="Select User Type"
                        fullWidth="true" >
                        <nb-option>Select User Type</nb-option>
                        <nb-option *ngFor="let items of UserTypeIdList" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.UserTypeId.invalid && f.UserTypeId.touched">
                        <p class="caption status-danger" *ngIf="f.UserTypeId.hasError('required')">
                          Please choose User Type
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mt-4">
                  <nb-toggle status="primary" formControlName="InActive">InActive</nb-toggle>
                </div>
              </div>

              <button type="reset" nbButton status="basic" class="float-right" (click)="Btn_Reset()" outline>
                Cancel
              </button>

              <button type="submit" nbButton status="success" class="float-right" *ngIf="!IsUpdate"
                [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted" name="Save" outline>
                Submit
              </button>
              <button type="submit" nbButton status="info" class="float-right" *ngIf="IsUpdate"
                [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted" name="Update" outline>
                Update
              </button>
            </form>
          </nb-tab>
          <nb-tab tabId="tb_lstVw" tabTitle="List-View" [active]="!tb_IsActive">
            <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
              styleClass="p-datatable-striped p-datatable-customers p-datatable-gridlines" responsiveLayout="scroll"
              [resizableColumns]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
              [loading]="tble_loading" [rowsPerPageOptions]="[10,25,50]">
              <ng-template pTemplate="caption">
                <div class="p-d-flex">
                  <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                      placeholder="Search keyword" />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pResizableColumn>Action</th>
                  <th>User Id</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>User Name</th>
                  <th>Mobile</th>
                  <th>Email</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>
                    <button type="button" nbButton status="success" (click)="editProduct(product.UserId)"
                      title="Edit Entry">
                      <nb-icon icon="edit"></nb-icon>
                    </button>
                    <button type="button" nbButton status="danger" (click)="deleteProduct_Confirm(product.UserId)"
                      title="Delete Entry">
                      <nb-icon icon="trash"></nb-icon>
                    </button>
                  </td>
                  <td>{{product.UserId}}</td>
                  <td>{{product.UserFName}}</td>
                  <td>{{product.UserLName}}</td>
                  <td>{{product.UserName}}</td>
                  <td>{{product.Mobile}}</td>
                  <td>{{product.Email}}</td>
                </tr>
              </ng-template>
            </p-table>
          </nb-tab>
        </nb-tabset>

      </nb-card-body>
      <nb-card-footer>
        <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
        <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
        <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
        <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
      </nb-card-footer>
    </nb-card>
  </div>
</div>