<div class="row">
    <div class="col-md-12">
      <nb-card status="success">
        <nb-card-header>Purchase Order Form</nb-card-header>
        
        <nb-card-body>

          <nb-tabset tabId="tb_fm" (changeTab)="selectTab($event)">
            <nb-tab tabTitle="Purchase Order" [active]="tb_IsActive">
              <form [formGroup]="POForm" #form="ngForm" aria-labelledby="title">
          <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="inputDate" class="label">Date</label>
                    <input type="text" nbInput fullWidth [nbDatepicker]="inputDate" formControlName="Date" placeholder="Date" required [status]="f.Date.dirty ? (f.Date.invalid  ? 'danger' : 'success') : 'basic'">
                    <nb-datepicker #inputDate></nb-datepicker>
                    <ng-container *ngIf="f.Date.invalid && f.Date.touched">
                      <p class="caption status-danger" *ngIf="f.Date.invalid">
                        Date is required
                      </p>
                    </ng-container>
                  </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="selectVendor" class="label">Vendor</label>
                <div class="">
                  <nb-select nbSelect id="selectVendor" formControlName="Vendor" fullWidth placeholder="Select Vendor">
                    <nb-option>Select Vendor</nb-option>
                    <nb-option *ngFor="let items of Vendor_List" [value]="items.XCode">
                      {{items.XName}}
                    </nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-4">
              
            </div>
          </div> -->

          <hr>
        

        <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="card">
              <p-toolbar styleClass="p-mb-4">
                  <ng-template pTemplate="left">
                    <button type="button" nbButton size="small" status="success" (click)="openNew()" class ="mr-2"
                        title="Add New">
                        <nb-icon icon="plus"></nb-icon>
                        New
                      </button>
                      <button type="button" nbButton size="small" status="danger" (click)="deleteSelectedProducts()"
                      [disabled]="!selectedProducts || !selectedProducts.length"
                      title="Delete Entry">
                      <nb-icon icon="trash"></nb-icon>
                    </button>

                      <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> -->
                      <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
                  </ng-template>
          
                  <ng-template pTemplate="right">
                      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                  </ng-template>
              </p-toolbar>

                  <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['Sr','Item.label','Qty','Rate','Amount','Discount','NetAmount']" responsiveLayout="scroll"
                  styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines"
                  [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                  
                  <ng-template pTemplate="caption">
                    <div class="test">
                    <div class="table-header">
                        List of Customers
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Global Search" />
                        </span>
                    </div>
                  </div>
                </ng-template>
                  

                  <ng-template pTemplate="header">
                      <tr>
                          <th style="width: 3rem">
                              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th>Sr</th>
                          <th>Item</th>
                          <th>PackUnit</th>
                          <th>Qty</th>
                          <th>Rate</th>
                          <th>Amount</th>
                          <th>Discount</th>
                          <th>NetAmount</th>
                          <th>Action</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                      <tr>
                          <td>
                              <p-tableCheckbox [value]="product"></p-tableCheckbox>
                          </td>
                          <td>{{product.Sr}}</td>
                          <td>{{product.Item.label}}</td>
                          <td>{{product.PackUnit.label}}</td>
                          <td>{{product.Qty}}</td>
                          <td>{{product.Rate}}</td>
                          <td>{{product.Amount | currency:'INR'}}</td>
                          <td>{{product.Discount | currency:'INR'}}</td>
                          <td>{{product.NetAmount | currency:'INR'}}</td>
                          <td>
                              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                          </td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                      <div class="p-d-flex p-ai-center p-jc-between">
                          In total there are {{products ? products.length : 0 }} products.
                      </div>
                  </ng-template>
              </p-table>
            </div>
                

            </div>
            
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                  <label for="inputTotalAmount" class="label">Total Amount</label>
                    <input type="text" nbInput fullWidth id="inputTotalAmount" formControlName="TotalAmount" placeholder="Total Amount" 
                    readonly
                    [status]="f.TotalAmount.dirty ? (f.TotalAmount.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.TotalAmount.invalid && f.TotalAmount.touched">
                      <p class="caption status-danger" *ngIf="f.TotalAmount.hasError('required')">
                        Total Amount is required
                      </p>
                      <p class="caption status-danger" *ngIf="f.TotalAmount.errors?.pattern">
                        Enter only Number.
                      </p>
                    </ng-container>
                  </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="inputTotalDiscount" class="label">Total Discount</label>
                    <input type="text" nbInput fullWidth id="inputTotalDiscount" formControlName="TotalDiscount" placeholder="Total Discount" 
                    readonly
                    [status]="f.TotalDiscount.dirty ? (f.TotalDiscount.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.TotalDiscount.invalid && f.TotalDiscount.touched">
                      <p class="caption status-danger" *ngIf="f.TotalDiscount.hasError('required')">
                        Total Discount is required
                      </p>
                      <p class="caption status-danger" *ngIf="f.TotalDiscount.errors?.pattern">
                        Enter only Number.
                      </p>
                    </ng-container>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="inputTotalNetAmount" class="label">Total NetAmount</label>
                    <input type="text" nbInput fullWidth id="inputTotalNetAmount" formControlName="TotalNetAmount" placeholder="Total NetAmount" 
                    readonly
                    [status]="f.TotalNetAmount.dirty ? (f.TotalNetAmount.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.TotalNetAmount.invalid && f.TotalNetAmount.touched">
                      <p class="caption status-danger" *ngIf="f.TotalNetAmount.hasError('required')">
                        Total NetAmount is required
                      </p>
                      <p class="caption status-danger" *ngIf="f.TotalNetAmount.errors?.pattern">
                        Enter only Number.
                      </p>
                    </ng-container>

                  </div>
              </div>
              
        </div>
         
         <button type="reset" nbButton status="basic" class="float-right" 
         (click)="Btn_Reset()" outline>
          Cancel
        </button>
  
        <button type="submit" nbButton status="success" class="float-right mr-2" *ngIf="!IsUpdate"
        [disabled]="submitted || !form.valid"
        [class.btn-pulse]="submitted" name="Save" (click)="onSubmit('Save')" outline>
          Submit
        </button>

        <button type="submit" nbButton status="info" class="float-right mr-2" *ngIf="IsUpdate"
        [disabled]="submitted || !form.valid"
        [class.btn-pulse]="submitted" name="Update" (click)="onSubmit('Update')" outline>
          Update
        </button>

        </form>
            </nb-tab>
            <nb-tab tabId="tb_lstVw" tabTitle="List-View" [active]="!tb_IsActive">
              <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
              styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines" 
              responsiveLayout="scroll"
              [resizableColumns]="true"
              [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="tble_loading"
              [rowsPerPageOptions]="[10,25,50]">

              <ng-template pTemplate="caption">
                <div class="test">
                <div class="table-header">
                    List-View
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Search keyword" />
                    </span>
                </div>
              </div>
            </ng-template>

              <!-- <ng-template pTemplate="caption">
                <div class="test">
                  <div class="p-d-flex">
                    <span class="p-input-icon-left p-ml-auto">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                          </span>
                  </div>
                </div>

               
              </ng-template> -->
              
                  <ng-template pTemplate="header">
                      <tr>
                          <th pResizableColumn>Action</th>
                          <th>Rnk</th>
                          <th>SrNo</th>
                          <th>Date</th>
                          <th>Vendor</th>
                          <th>Amount</th>
                          <th>Discount</th>
                          <th>NetAmount</th>
                          <th>IpAddress</th>
                          <th>CreatedByName</th>
                          <th>CreatedDateTime</th>
                          <th>ModifiedByName</th>
                          <th>ModifiedDateTime</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                      <tr>
                          <td>
                            <button type="button" nbButton status="success" class="mr-2" (click)="editPurchaseOrder(product.SrNo)"
                            title="Edit Entry">
                            <nb-icon icon="edit"></nb-icon>
                            </button>
                            <!-- <button type="button" nbButton status="danger" (click)="deleteProduct_Confirm(product.SrNo)"
                            title="Delete Entry">
                            <nb-icon icon="trash"></nb-icon>
                            </button> -->
                          </td>
                          <td>{{product.Rnk}}</td>
                          <td>{{product.SrNo}}</td>
                          <td>{{product.Date}}</td>
                          <td>{{product.Vendor}}</td>
                          <td>{{product.Amount | currency:'INR'}}</td>
                          <td>{{product.Discount | currency:'INR'}}</td>
                          <td>{{product.NetAmount | currency:'INR'}}</td>
                          <td>{{product.IpAddress}}</td>
                          <td>{{product.CreatedByName}}</td>
                          <td>{{product.CreatedDateTime}}</td>
                          <td>{{product.ModifiedByName}}</td>
                          <td>{{product.ModifiedDateTime}}</td>
                      </tr>
                  </ng-template>
              </p-table>
            </nb-tab>
          </nb-tabset>

          
        </nb-card-body>
        <nb-card-footer>
          <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
          <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
          <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
          <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>

  <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    
    <nb-card>
      <nb-card-body>
        <form [formGroup]="TrxForm" #formItem="ngForm" aria-labelledby="title">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="selectVendor" class="label">Item Name</label>
              <div class="">
                <!-- [(ngModel)]="Qty" -->
                <p-autoComplete formControlName="Item" [virtualScroll]="true" [suggestions]="filteredItems" [itemSize]="34" 
                (completeMethod)="filterItems($event)" field="label" [dropdown]="true">
                </p-autoComplete>
                <ng-container *ngIf="t.Item.invalid && t.Item.touched">
                  <p class="caption status-danger" *ngIf="t.Item.hasError('required')">
                    Item is required
                  </p>
                </ng-container>
  
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="selectPackUnit" class="label">PackUnit</label>
              <div class="">
                <!-- [(ngModel)]="Qty" -->
                <p-autoComplete formControlName="PackUnit" [virtualScroll]="true" [suggestions]="filtered_PackUnit" [itemSize]="34" 
                (completeMethod)="filter_PackUnit($event)" field="label" [dropdown]="true">
                </p-autoComplete>
                <ng-container *ngIf="t.PackUnit.invalid && t.PackUnit.touched">
                  <p class="caption status-danger" *ngIf="t.PackUnit.hasError('required')">
                    PackUnit is required
                  </p>
                </ng-container>
  
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label for="inputQty" class="label">Qty</label>
                <input type="text" nbInput fullWidth id="inputQty" formControlName="Qty" placeholder="Qty"
                (keyup)="Qty_onKeyUp($event)" 
                [status]="t.Qty.dirty ? (t.Qty.invalid  ? 'danger' : 'success') : 'basic'">
                <ng-container *ngIf="t.Qty.invalid && t.Qty.touched">
                  <p class="caption status-danger" *ngIf="t.Qty.hasError('required')">
                    Qty is required
                  </p>
                  <p class="caption status-danger" *ngIf="t.Qty.errors?.pattern">
                    Enter only Number.
                  </p>
                </ng-container>
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label for="inputRate" class="label">Rate</label>
                <input type="text" nbInput fullWidth id="inputRate"
                formControlName="Rate" placeholder="Rate"
                (keyup)="Qty_onKeyUp($event)"
                [status]="t.Rate.dirty ? (t.Rate.invalid  ? 'danger' : 'success') : 'basic'">
                <ng-container *ngIf="t.Rate.invalid && t.Rate.touched">
                  <p class="caption status-danger" *ngIf="t.Rate.hasError('required')">
                    Rate is required
                  </p>
                  <p class="caption status-danger" *ngIf="t.Rate.errors?.pattern">
                    Rate is invalid
                  </p>
                </ng-container>
              </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <label for="inputAmount" class="label">Amount</label>
                <input type="text" nbInput fullWidth id="inputAmount" formControlName="Amount" placeholder="Amount"
                readonly 
                [status]="t.Amount.dirty ? (t.Amount.invalid  ? 'danger' : 'success') : 'basic'">
                <ng-container *ngIf="t.Amount.invalid && t.Amount.touched">
                  <p class="caption status-danger" *ngIf="t.Amount.hasError('required')">
                    Amount is required
                  </p>
                  <p class="caption status-danger" *ngIf="t.Amount.errors?.pattern">
                    Amount is invalid
                  </p>
                </ng-container>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <label for="inputDiscount" class="label">Discount</label>
                <input type="text" nbInput fullWidth id="inputDiscount" formControlName="Discount" placeholder="Discount" 
                (keyup)="Qty_onKeyUp($event)"
                [status]="t.Discount.dirty ? (t.Discount.invalid  ? 'danger' : 'success') : 'basic'">
                <ng-container *ngIf="t.Discount.invalid && t.Discount.touched">
                  <p class="caption status-danger" *ngIf="t.Discount.hasError('required')">
                    Discount is required
                  </p>
                  <p class="caption status-danger" *ngIf="t.Discount.errors?.pattern">
                    Discount is invalid
                  </p>
                </ng-container>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <label for="inputNetAmount" class="label">NetAmount</label>
                <input type="text" nbInput fullWidth id="inputNetAmount" formControlName="NetAmount" placeholder="NetAmount" 
                readonly
                [status]="t.NetAmount.dirty ? (t.NetAmount.invalid  ? 'danger' : 'success') : 'basic'">
                <ng-container *ngIf="t.NetAmount.invalid && t.NetAmount.touched">
                  <p class="caption status-danger" *ngIf="t.NetAmount.hasError('required')">
                    NetAmount is required
                  </p>
                  <p class="caption status-danger" *ngIf="t.NetAmount.errors?.pattern">
                    NetAmount is invalid
                  </p>
                </ng-container>
              </div>
          </div>
        </div>
        
      </form>

      </nb-card-body>
    </nb-card>
    <ng-template pTemplate="content">
      
    </ng-template>

    <ng-template pTemplate="footer">
      <button type="reset" nbButton status="basic" (click)="hideDialog()" outline>
        Cancel
      </button>

      <button type="submit" nbButton status="success" class="float-right" 
      [disabled]="submitted_trx || !formItem.valid"
      [class.btn-pulse]="submitted_trx" (click)="saveProduct()" outline>
        Submit
      </button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>