// .ng2-smart-filter select {
//   height: calc(2rem + 4px) !important;
//   padding: 0 10px !important;
// }

// table-cell-default-editor select-editor select {
//   height: calc(2rem + 8px) !important;
//   padding: 0 10px !important;
// }

.p-input-icon-left > .p-inputtext {
    padding-left: 2rem;
}
.test .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}