<nb-card size="medium" *ngIf="UserTypeId === 1" >

    <nb-card-header>
      <span>Kitchen Order Activity</span>
      <!-- <nb-select [selected]="type" (selectedChange)="getUserActivity($event); type = $event">
        <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
      </nb-select> -->
    </nb-card-header>
  
    <p-table #dt1 [value]="Prod_ListView" dataKey="id" [rows]="10" [paginator]="true" [globalFilterFields]="['OrderSrNo','Sr','ItemName','Qty']" responsiveLayout="scroll"
              styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines"
              [rowHover]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]">

              <ng-template pTemplate="caption">
                <div class="test">
                <div class="table-header">
                    Pending Order
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Search keyword" />
                    </span>
                </div>
              </div>
            </ng-template>

              <!-- <ng-template pTemplate="caption">
                <div class="test">
                  <div class="p-d-flex">
                    <span class="p-input-icon-left p-ml-auto">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                          </span>
                  </div>
                </div>

               
              </ng-template> -->
              
                  <ng-template pTemplate="header">
                      <tr>
                          <th>#</th>
                          <th pResizableColumn>Action</th>
                          <th>OrderSrNo</th>
                          <th>Sr</th>
                          <th>ItemName</th>
                          <th>Qty</th>
                          <th>Instruction</th>
                          <th>Remark</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                      <tr>
                          <td>{{product.Rnk}}</td>
                          <td>
                            <button type="button" nbButton status="success" class="mr-2" (click)="Update_Order_Dashboard(product.OrderSrNo,product.Sr,product.Rnk)"
                            title="Cooking">
                            <nb-icon icon="checkmark-circle"></nb-icon>
                            </button>
                            <!-- <button type="button" nbButton status="danger" (click)="deleteProduct_Confirm(product.SrNo)"
                            title="Delete Entry">
                            <nb-icon icon="trash"></nb-icon>
                            </button> -->
                          </td>
                          <td>{{product.OrderSrNo}}</td>
                          <td>{{product.Sr}}</td>
                          <td>{{product.ItemName}}</td>
                          <td>{{product.Qty}}</td>
                          <td>{{product.Instruction}}</td>
                          <td>{{product.Remark}}</td>
                      </tr>
                  </ng-template>
              </p-table>

              
            
              <p-table #dt1 [value]="AcceptedOrder_List" dataKey="id" [rows]="10" [paginator]="true" [globalFilterFields]="['OrderSrNo','Sr','ItemName','Qty']" responsiveLayout="scroll"
                        styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines"
                        [rowHover]="true" currentPageReportTemplate="Showing {first} to {last} of {AcceptedOrder_TotalRecords} entries" 
                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]">
          
                        <ng-template pTemplate="caption">
                          <div class="test">
                          <div class="table-header">
                              Accepted-Order
                              <span class="p-input-icon-left">
                                  <i class="pi pi-search"></i>
                                  <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Search keyword" />
                              </span>
                          </div>
                        </div>
                      </ng-template>
          
                        <!-- <ng-template pTemplate="caption">
                          <div class="test">
                            <div class="p-d-flex">
                              <span class="p-input-icon-left p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                                    </span>
                            </div>
                          </div>
          
                         
                        </ng-template> -->
                        
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>#</th>
                                    <th pResizableColumn>Action</th>
                                    <th>OrderSrNo</th>
                                    <th>Sr</th>
                                    <th>ItemName</th>
                                    <th>Qty</th>
                                    <th>Instruction</th>
                                    <th>Remark</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr>
                                    <td>{{product.Rnk}}</td>
                                    <td>
                                      <button type="button" nbButton status="success" class="mr-2" (click)="Update_Order_ForReady_Dashboard(product.OrderSrNo,product.Sr,product.Rnk)"
                                      title="Ready">
                                      <nb-icon icon="checkmark-circle"></nb-icon>
                                      </button>
                                      <!-- <button type="button" nbButton status="danger" (click)="deleteProduct_Confirm(product.SrNo)"
                                      title="Delete Entry">
                                      <nb-icon icon="trash"></nb-icon>
                                      </button> -->
                                    </td>
                                    <td>{{product.OrderSrNo}}</td>
                                    <td>{{product.Sr}}</td>
                                    <td>{{product.ItemName}}</td>
                                    <td>{{product.Qty}}</td>
                                    <td>{{product.Instruction}}</td>
                                    <td>{{product.Remark}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
  
  </nb-card>
  
