<div class="row">
    <div class="col-md-12">
      <nb-card status="success">
        <nb-card-header>Hotel </nb-card-header>
        
        <nb-card-body>
            <form [formGroup]="HotelForm" #form="ngForm" aria-labelledby="title">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_Company" class="label">Company</label>
                          <div>
                            <nb-select nbSelect id="select_Company" formControlName="Company" placeholder="Select Company" fullWidth="true">
                              <nb-option>Select Company</nb-option>
                              <nb-option *ngFor="let items of Companys" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.Company.invalid && f.Company.touched">
                              <p class="caption status-danger" *ngIf="f.Company.hasError('required')">
                                Please choose Company
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputHotelName" class="label">Hotel Name</label>
                          <input type="text" nbInput fullWidth id="inputHotelName" formControlName="HotelName" placeholder="Hotel Name" required [status]="f.HotelName.dirty ? (f.HotelName.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.HotelName.invalid && f.HotelName.touched">
                            <p class="caption status-danger" *ngIf="f.HotelName.invalid">
                                Hotel Name is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputMobile" class="label">Mobile</label>
                          <input type="text" nbInput fullWidth id="inputMobile" formControlName="Mobile" placeholder="Mobile" required [status]="f.Mobile.dirty ? (f.Mobile.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Mobile.invalid && f.Mobile.touched">
                            <p class="caption status-danger" *ngIf="f.Mobile.invalid">
                                Mobile is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                </div>
                <div class="row"> 
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputEmail" class="label">Email</label>
                          <input type="text" nbInput fullWidth id="inputEmail" formControlName="Email" placeholder="Email" required [status]="f.Email.dirty ? (f.Email.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Email.invalid && f.Email.touched">
                            <p class="caption status-danger" *ngIf="f.Email.invalid">
                                Email is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputAddress" class="label">Address</label>
                          <input type="text" nbInput fullWidth id="inputAddress" formControlName="Address" placeholder="Address" required [status]="f.Address.dirty ? (f.Address.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Address.invalid && f.Address.touched">
                            <p class="caption status-danger" *ngIf="f.Address.invalid">
                                Address is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_Country" class="label">Country</label>
                          <div>
                            <nb-select nbSelect id="select_Country" formControlName="Country" placeholder="Select Country" fullWidth="true">
                              <nb-option>Select Country</nb-option>
                              <nb-option *ngFor="let items of Countrys" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.Country.invalid && f.Country.touched">
                              <p class="caption status-danger" *ngIf="f.Country.hasError('required')">
                                Please choose Country
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_State" class="label">State</label>
                          <div>
                            <nb-select nbSelect id="select_State" formControlName="State" placeholder="Select State" fullWidth="true">
                              <nb-option>Select State</nb-option>
                              <nb-option *ngFor="let items of States" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.State.invalid && f.State.touched">
                              <p class="caption status-danger" *ngIf="f.State.hasError('required')">
                                Please choose State
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_City" class="label">City</label>
                          <div>
                            <nb-select nbSelect id="select_City" formControlName="City" placeholder="Select City" fullWidth="true">
                              <nb-option>Select City</nb-option>
                              <nb-option *ngFor="let items of Citys" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.City.invalid && f.City.touched">
                              <p class="caption status-danger" *ngIf="f.City.hasError('required')">
                                Please choose City
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputLat" class="label">Lat</label>
                          <input type="text" nbInput fullWidth id="inputLat" formControlName="Lat" placeholder="Lat" required [status]="f.Lat.dirty ? (f.Lat.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Lat.invalid && f.Lat.touched">
                            <p class="caption status-danger" *ngIf="f.Lat.invalid">
                                Lat is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                </div>
            <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="inputLong" class="label">Long</label>
                      <input type="text" nbInput fullWidth id="inputLong" formControlName="Long" placeholder="Long" required [status]="f.Long.dirty ? (f.Long.invalid  ? 'danger' : 'success') : 'basic'">
                      <ng-container *ngIf="f.Long.invalid && f.Long.touched">
                        <p class="caption status-danger" *ngIf="f.Long.invalid">
                            Long is required
                        </p>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-md-4 mt-4">
                    <nb-toggle status="primary" formControlName="InActive" >InActive</nb-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <legend>Image 1</legend>
                  <div class="fileinput-new thumbnail">
                    <img class="mat-card-image" [src]="imageSrc" style="width:100%;padding-bottom: 10px;height: 177px;" >
                  </div>
                  <button nbButton type="button" status="basic" (click)="fileInput.click()" *ngIf="IsImg1_btn_Show" outline>Choose File</button>
                  <input nbInput hidden (change)="onFileChange($event)" type="file" #fileInput class="input-File" placeholder="Select Image" formControlName="Image1_Source">
                
                  <button type="button" nbButton status="primary"  *ngIf="!IsImg1_btn_Show" (click)="openDialog('1')" outline>Preview</button>
                  <button type="button" nbButton status="danger" class="float-right" (click)="onFileClear('1')" *ngIf="!IsImg1_btn_Show"  title="Remove Image">
                    <nb-icon icon="trash"></nb-icon>
                  </button>
                </div>
                <div class="col-md-3 col-sm-3">
                  <legend>Logo</legend>
                  <div class="fileinput-new thumbnail">
                    <img class="mat-card-image" [src]="imageSrc2" style="width:100%;padding-bottom: 10px;height: 177px;" >
                  </div>
                  <button nbButton type="button" status="basic" (click)="fileInput2.click()" *ngIf="IsImg2_btn_Show" outline>Choose File</button>
                  <input nbInput hidden (change)="onFileChange2($event)" type="file" #fileInput2 class="input-File" placeholder="Select Image" formControlName="Image2_Source">
      
                  <button type="button" nbButton status="primary"  *ngIf="!IsImg2_btn_Show" (click)="openDialog('2')" outline>Preview</button>
                  <button type="button" nbButton status="danger" class="float-right" (click)="onFileClear('2')" *ngIf="!IsImg2_btn_Show"  title="Remove Image">
                    <nb-icon icon="trash"></nb-icon>
                  </button>
                </div>
              </div>
             
              <button type="reset" nbButton status="basic" class="float-right" outline>
                Cancel
              </button>
        
              <button type="submit" nbButton status="success" class="float-right" 
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted" outline>
                Submit
              </button>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
            <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
            <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
            <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
          </nb-card-footer>
      </nb-card>
    </div>
  </div>
