<div class="row">
  <div class="col-md-12">
    <nb-card status="success">
      <nb-card-header>Admin Entries Form</nb-card-header>

      <nb-card-body>

        <nb-tabset tabId="tb_fm" (changeTab)="selectTab($event)">
          <nb-tab tabTitle="Admin Entries" [active]="tb_IsActive">

            <form [formGroup]="adminentriesForm" (ngSubmit)="onSubmit($event.submitter.name)" #form="ngForm"
              aria-labelledby="title">
              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_XMaster" class="label">XMaster</label>
                    <div class="">
                      <nb-select nbSelect id="select_XMaster" formControlName="XMaster"
                        (selectedChange)="Change_XMaster($event)" placeholder="Select XMaster" fullWidth="true">
                        <nb-option>Select XMaster</nb-option>
                        <nb-option *ngFor="let items of XMasterList" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.XMaster.invalid && f.XMaster.touched">
                        <p class="caption status-danger" *ngIf="f.XMaster.hasError('required')">
                          Please choose XMaster
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-1">
                   <button type="button" nbButton status="info" class="mt-4" outline>Edit</button> 
                  <button type="button" nbButton status="info" class="mt-4" outline>
                    <nb-icon icon="edit"></nb-icon>
                  </button>
                </div> -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_XLink" class="label">XLink</label>
                    <div class="">
                      <nb-select nbSelect id="select_XLink" formControlName="XLink" fullWidth
                        placeholder="Select XLink">
                        <nb-option>Select XLink</nb-option>
                        <nb-option *ngFor="let items of Xlink_List" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputXCode" class="label">XCode</label>
                    <input type="text" nbInput fullWidth id="inputXCode" formControlName="XCode" placeholder="XCode"
                      required [status]="f.XCode.dirty ? (f.XCode.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.XCode.invalid && f.XCode.touched">
                      <p class="caption status-danger" *ngIf="f.XCode.invalid">
                        XCode is required
                      </p>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputXName" class="label">XName</label>
                    <input type="text" nbInput fullWidth id="inputXName" formControlName="XName" placeholder="XName"
                      [status]="f.XName.dirty ? (f.XName.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.XName.invalid && f.XName.touched">
                      <p class="caption status-danger" *ngIf="f.XName.invalid">
                        XName is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputOrdering" class="label">Ordering</label>
                    <input type="text" nbInput fullWidth id="inputOrdering" formControlName="Ordering"
                      placeholder="Ordering"
                      [status]="f.Ordering.dirty ? (f.Ordering.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Ordering.invalid && f.Ordering.touched ">
                      <p class="caption status-danger" *ngIf="f.Ordering.hasError('required')">
                        Ordering is required!
                      </p>
                      <p class="caption status-danger" *ngIf="f.Ordering.errors?.pattern">
                        Enter only Number.
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputDescription" class="label">Description</label>
                    <input type="text" nbInput fullWidth id="inputDescription" formControlName="Description"
                      placeholder="Description"
                      [status]="f.Description.dirty ? (f.Description.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Description.invalid && f.Description.touched">
                      <p class="caption status-danger" *ngIf="f.Description.invalid">
                        Description is required
                      </p>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <legend>Image 1</legend>
                  <div class="fileinput-new thumbnail">
                    <img class="mat-card-image" [src]="imageSrc" style="width:100%;padding-bottom: 10px;height: 177px;">
                  </div>
                  <button nbButton type="button" status="basic" (click)="fileInput.click()" *ngIf="IsImg1_btn_Show"
                    outline>Choose File</button>
                  <input nbInput hidden (change)="onFileChange($event)" type="file" #fileInput class="input-File"
                    placeholder="Select Image" formControlName="Image1_Source">

                  <button type="button" nbButton status="primary" *ngIf="!IsImg1_btn_Show" (click)="openDialog('1')"
                    outline>Preview</button>
                  <button type="button" nbButton status="danger" class="float-right" (click)="onFileClear('1')"
                    *ngIf="!IsImg1_btn_Show" title="Remove Image">
                    <nb-icon icon="trash"></nb-icon>
                  </button>

                </div>
                <div class="col-md-3 col-sm-3">
                  <legend>Image 2</legend>
                  <div class="fileinput-new thumbnail">
                    <img class="mat-card-image" [src]="imageSrc2"
                      style="width:100%;padding-bottom: 10px;height: 177px;">
                  </div>
                  <button nbButton type="button" status="basic" (click)="fileInput2.click()" *ngIf="IsImg2_btn_Show"
                    outline>Choose File</button>
                  <input nbInput hidden (change)="onFileChange2($event)" type="file" #fileInput2 class="input-File"
                    placeholder="Select Image" formControlName="Image2_Source">

                  <button type="button" nbButton status="primary" *ngIf="!IsImg2_btn_Show" (click)="openDialog('2')"
                    outline>Preview</button>
                  <button type="button" nbButton status="danger" class="float-right" (click)="onFileClear('2')"
                    *ngIf="!IsImg2_btn_Show" title="Remove Image">
                    <nb-icon icon="trash"></nb-icon>
                  </button>
                </div>
                <div class="col-md-4 mt-4">
                  <!-- <div class="form-group"> -->
                  <!-- <label for="inputInActive" class="label">InActive</label> -->
                  <nb-toggle status="primary" formControlName="InActive">InActive</nb-toggle>
                  <!-- </div> -->
                </div>
              </div>

              <button type="reset" nbButton status="basic" class="float-right" (click)="Btn_Reset()" outline>
                Cancel
              </button>

              <button type="submit" nbButton status="success" class="float-right mr-2" *ngIf="!IsUpdate"
                [disabled]="submitted || !form.valid"
                [class.btn-pulse]="submitted" name="Save" outline>
                Submit
              </button>
              <button type="submit" nbButton status="info" class="float-right mr-2" *ngIf="IsUpdate"
                [disabled]="submitted || !form.valid"
                [class.btn-pulse]="submitted" name="Update" outline>
                Update
              </button>
            </form>
          </nb-tab>
          <nb-tab tabId="tb_lstVw" tabTitle="List-View" [active]="!tb_IsActive">
            <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
                styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines" 
                responsiveLayout="scroll"
                [resizableColumns]="true"
                [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="tble_loading"
                [rowsPerPageOptions]="[10,25,50]">
                
                <ng-template pTemplate="caption">
                  <div class="test">
                  <div class="table-header">
                      List-View
                      <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Search keyword" />
                      </span>
                  </div>
                </div>
              </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pResizableColumn>Action</th>
                            <th>Rnk</th>
                            <th>XMaster</th>
                            <th>XCode</th>
                            <th>XName</th>
                            <th>XLink</th>
                            <th>Ordering</th>
                            <th>Status</th>
                            <th>Image1</th>
                            <th>Image2</th>
                            <th>Description</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>
                              <button type="button" nbButton status="success" class="mr-2" (click)="editProduct(product.Id)"
                              title="Edit Entry">
                              <nb-icon icon="edit"></nb-icon>
                              </button>
                              <button type="button" nbButton status="danger" (click)="deleteProduct_Confirm(product.Id)"
                              title="Delete Entry">
                              <nb-icon icon="trash"></nb-icon>
                              </button>
                            </td>
                            <td>{{product.Rnk}}</td>
                            <td>{{product.XMaster}}</td>
                            <td>{{product.XCode}}</td>
                            <td>{{product.XName}}</td>
                            <td>{{product.XLink}}</td>
                            <td>{{product.Ordering}}</td>
                            <!-- <td>
                                <nb-badge text="{{product.Status == true ? 'InActive':'Active'}}" status="{{product.Status == true ? 'danger':'success'}}" position="static"></nb-badge>
                            </td> -->
                            <td>
                              <p-badge [value]="product.Status" [severity]="product.Status  == 'Active' ? 'success':'danger'" 
                              styleClass="p-mr-2"></p-badge>
                            </td>
                            <td><img [src]="'http://api.icorrect.in/Upload/AdminEntries/1/' + product.Image1" [alt]="product.Image1" width="100" class="p-shadow-4" /></td>
                            <td><img [src]="'http://api.icorrect.in/Upload/AdminEntries/1/' + product.Image2" [alt]="product.Image2" width="100" class="p-shadow-4" /></td>
                            <td>{{product.Description}}</td>
                        </tr>
                    </ng-template>
                </p-table>
          </nb-tab>
        </nb-tabset>


      </nb-card-body>
      <nb-card-footer>
        <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
        <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
        <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
        <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
      </nb-card-footer>
    </nb-card>
  </div>
</div>