// .p-datatable-table tr th, .p-datatable-table tr td{
// 	font-size:14px;
// }

.p-input-icon-left > .p-inputtext {
    padding-left: 2rem;
}
.test .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}