<div class="row">
    <div class="col-md-12">
      <nb-card status="success">
        <nb-card-header>Salary </nb-card-header>
        
        <nb-card-body>
            <form [formGroup]="SalaryForm" #form="ngForm" aria-labelledby="title">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputSrNo" class="label">SrNo</label>
                          <input type="text" nbInput fullWidth id="inputSrNo" formControlName="SrNo" placeholder="SrNo" required [status]="f.SrNo.dirty ? (f.SrNo.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.SrNo.invalid && f.SrNo.touched">
                            <p class="caption status-danger" *ngIf="f.SrNo.invalid">
                                SrNo is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputDate" class="label">Date</label>
                          <input type="text" nbInput fullWidth id="inputDate" formControlName="Date" placeholder="Date" required [status]="f.Date.dirty ? (f.Date.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Date.invalid && f.Date.touched">
                            <p class="caption status-danger" *ngIf="f.Date.invalid">
                                Date is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_EmployeeType" class="label">Employee Type</label>
                          <div>
                            <nb-select nbSelect id="select_EmployeeType" formControlName="EmployeeType" placeholder="Select Employee Type" fullWidth="true">
                              <nb-option>Select Employee Type</nb-option>
                              <nb-option *ngFor="let items of EmployeeTypes" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.EmployeeType.invalid && f.EmployeeType.touched">
                              <p class="caption status-danger" *ngIf="f.EmployeeType.hasError('required')">
                                Please choose Employee Type
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="select_SalaryPaidOn" class="label">Salary Paid On</label>
                      <div>
                        <nb-select nbSelect id="select_SalaryPaidOn" formControlName="SalaryPaidOn" placeholder="Select Salary Paid On" fullWidth="true">
                          <nb-option>Select Salary Paid On</nb-option>
                          <nb-option *ngFor="let items of SalaryPaidOns" [value]="items.XCode">
                            {{items.XName}}
                          </nb-option>
                        </nb-select>
                        <ng-container *ngIf="f.SalaryPaidOn.invalid && f.SalaryPaidOn.touched">
                          <p class="caption status-danger" *ngIf="f.SalaryPaidOn.hasError('required')">
                            Please choose Salary Paid On
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="inputEmployeeName" class="label">Employee Name</label>
                      <input type="text" nbInput fullWidth id="inputEmployeeName" formControlName="EmployeeName" placeholder="Employee Name" required [status]="f.EmployeeName.dirty ? (f.EmployeeName.invalid  ? 'danger' : 'success') : 'basic'">
                      <ng-container *ngIf="f.EmployeeName.invalid && f.EmployeeName.touched">
                        <p class="caption status-danger" *ngIf="f.EmployeeName.invalid">
                            Employee Name is required
                        </p>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="inputMonthlySalary" class="label">Monthly Salary</label>
                      <input type="text" nbInput fullWidth id="inputMonthlySalary" formControlName="MonthlySalary" placeholder="Monthly Salary" required [status]="f.MonthlySalary.dirty ? (f.MonthlySalary.invalid  ? 'danger' : 'success') : 'basic'">
                      <ng-container *ngIf="f.MonthlySalary.invalid && f.MonthlySalary.touched">
                        <p class="caption status-danger" *ngIf="f.MonthlySalary.invalid">
                            Monthly Salary is required
                        </p>
                      </ng-container>
                    </div>
                  </div>
              </div>
          
              <button type="reset" nbButton status="basic" class="float-right" outline>
                Cancel
              </button>
        
              <button type="submit" nbButton status="success" class="float-right" 
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted" outline>
                Submit
              </button>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
            <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
            <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
            <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
          </nb-card-footer>
      </nb-card>
    </div>
  </div>