<div class="row">
    <div class="col-md-12">
      <nb-card status="success">
        <nb-card-header>Change-Password </nb-card-header>
        
        <nb-card-body>
            <form [formGroup]="ChangePasswordForm" #form="ngForm" aria-labelledby="title">
            <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputUName" class="label">Current User Name</label>
                    <input type="text" nbInput fullWidth id="inputUName" formControlName="UName" placeholder="User Name" required >
                    <ng-container *ngIf="f.UName.invalid && f.UName.touched">
                      <p class="caption status-danger" *ngIf="f.UName.invalid">
                        Uer Name is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="inputNewPassword" class="label">New Password</label>
                      <input type="text" nbInput fullWidth id="inputNewPassword" formControlName="NewPassword" placeholder="New Password" required >
                      <ng-container *ngIf="f.NewPassword.invalid && f.NewPassword.touched">
                        <p class="caption status-danger" *ngIf="f.NewPassword.invalid">
                            New Password is required
                        </p>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="inputConfirmPassword" class="label">Confirm Password</label>
                      <input type="text" nbInput fullWidth id="inputConfirmPassword" formControlName="ConfirmPassword" placeholder="Confirm Password" required >
                      <ng-container *ngIf="f.ConfirmPassword.invalid && f.ConfirmPassword.touched">
                        <p class="caption status-danger" *ngIf="f.ConfirmPassword.invalid">
                            Confirm Password is required
                        </p>
                      </ng-container>
                    </div>
                  </div>
              </div>
              <button type="reset" nbButton status="basic" class="float-right" outline>
                Cancel
              </button>
        
              <button type="submit" nbButton status="success" class="float-right" 
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted" outline>
                Submit
              </button>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
            <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
            <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
            <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
          </nb-card-footer>
      </nb-card>
    </div>
  </div>