<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        <img class="mat-card-image" [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px" >
    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero status="primary" (click)="dismiss()">Dismiss Dialog</button>
    </nb-card-footer>
  </nb-card>
  