<div class="row">
    <div class="col-md-12">
      <nb-card accent="info">
        <nb-card-header>Stock-Transfer </nb-card-header>
        
        <nb-card-body>

          <nb-tabset tabId="tb_fm" (changeTab)="selectTab($event)">
            <nb-tab tabTitle="Stock Transfer" [active]="tb_IsActive">
              <form [formGroup]="StockTransferForm" #form="ngForm" aria-labelledby="title" autocomplete="off">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputDate" class="label">Date</label>
                            <input type="text" nbInput fullWidth [nbDatepicker]="inputDate" formControlName="Date" placeholder="Date" required [status]="f.Date.dirty ? (f.Date.invalid  ? 'danger' : 'success') : 'basic'">
                            <nb-datepicker #inputDate></nb-datepicker>
                            <ng-container *ngIf="f.Date.invalid && f.Date.touched">
                              <p class="caption status-danger" *ngIf="f.Date.invalid">
                                Date is required
                              </p>
                            </ng-container>
                          </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="selectFromKitchen" class="label">From Kitchen</label>
                          <div class="">
                            <nb-select nbSelect id="selectFromKitchen" formControlName="FromKitchen" fullWidth placeholder="Select From Kitchen">
                              <nb-option>Select From Kitchen</nb-option>
                              <nb-option *ngFor="let items of FromKitchen_List" [value]="items.value">
                                {{items.label}}
                              </nb-option>
                            </nb-select>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="selectToKitchen" class="label">To Kitchen</label>
                          <div class="">
                            <nb-select nbSelect id="selectToKitchen" formControlName="ToKitchen" fullWidth placeholder="Select To Kitchen">
                              <nb-option>Select To Kitchen</nb-option>
                              <nb-option *ngFor="let items of ToKitchen_List" [value]="items.value">
                                {{items.label}}
                              </nb-option>
                            </nb-select>
                          </div>
                        </div>
                    </div>
                    
                      
                      
                  </div>
                  <!-- <div class="row">
                    <div class="col-md-4 mt-4">
                        <nb-toggle status="primary" formControlName="InActive" >InActive</nb-toggle>
                    </div>
                  </div> -->
                  
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <div class="card">
                      <p-toolbar styleClass="p-mb-4">
                          <ng-template pTemplate="left">
                            <button type="button" nbButton size="small" status="success" (click)="openNew()" class ="mr-2"
                                title="Add New">
                                <nb-icon icon="plus"></nb-icon>
                                New
                              </button>
                              <button type="button" nbButton size="small" status="danger" (click)="deleteSelectedProducts()"
                              [disabled]="!selectedProducts || !selectedProducts.length"
                              title="Delete Entry">
                              <nb-icon icon="trash"></nb-icon>
                            </button>
        
                              <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> -->
                              <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
                          </ng-template>
                  
                          <!-- <ng-template pTemplate="right">
                              <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                              <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                          </ng-template> -->
                      </p-toolbar>
        
                          <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['Sr','Item.label','Qty','Rate','Amount','Discount','NetAmount']" responsiveLayout="scroll"
                          styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines"
                          [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                          
                          <ng-template pTemplate="caption">
                            <div class="test">
                            <div class="table-header">
                                List of Items
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Global Search" />
                                </span>
                            </div>
                          </div>
                        </ng-template>
                          
        
                          <ng-template pTemplate="header">
                              <tr>
                                  <th style="width: 3rem">
                                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                  </th>
                                  <th>Sr</th>
                                  <th>Item</th>
                                  <th>Pack Qty</th>
                                  <th>Qty</th>
                                  <th>Action</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-product>
                              <tr>
                                  <td>
                                      <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                  </td>
                                  <td>{{product.Sr}}</td>
                                  <td>{{product.Item.label}}</td>
                                  <td>{{product.PackQty.label}}</td>
                                  <td>{{product.Qty}}</td>
                                  <td>
                                      <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                      <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                                  </td>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="summary">
                              <div class="p-d-flex p-ai-center p-jc-between">
                                  In total there are {{products ? products.length : 0 }} products.
                              </div>
                          </ng-template>
                      </p-table>
                    </div>
                        
        
                    </div>
                    
                </div>

              <br>

                <button type="reset" nbButton status="basic" class="float-right" 
                    (click)="Btn_Reset()" outline>
                     Cancel
                   </button>
             
                   <button type="submit" nbButton status="success" class="float-right mr-2" *ngIf="!IsUpdate"
                   [disabled]="submitted || !form.valid"
                   [class.btn-pulse]="submitted" name="Save" (click)="onSubmit('Save')" outline>
                     Submit
                   </button>
           
                   <button type="submit" nbButton status="info" class="float-right mr-2" *ngIf="IsUpdate"
                   [disabled]="submitted || !form.valid"
                   [class.btn-pulse]="submitted" name="Update" (click)="onSubmit('Update')" outline>
                     Update
                   </button>

                
                  
               

                  
                </form>
            </nb-tab>
            <nb-tab tabId="tb_lstVw" tabTitle="List-View" [active]="!tb_IsActive">
              <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
              styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines" 
              responsiveLayout="scroll"
              [resizableColumns]="true"
              [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="tble_loading"
              [rowsPerPageOptions]="[10,25,50]">

              <ng-template pTemplate="caption">
                <div class="test">
                <div class="table-header">
                    List-View
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Search keyword" />
                    </span>
                </div>
              </div>
            </ng-template>
              
                  <ng-template pTemplate="header">
                      <tr>
                          <th pResizableColumn>Action</th>
                          <th>Rnk</th>
                          <th>SrNo</th>
                          <th>Date</th>
                          <th>FromKitchen</th>
                          <th>ToKitchen</th>
                          <th>Status</th>
                          <th>IpAddress</th>
                          <th>CreatedByName</th>
                          <th>CreatedDateTime</th>
                          <th>ModifiedByName</th>
                          <th>ModifiedDateTime</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                      <tr>
                          <td>
                            <button type="button" nbButton status="success" class="mr-2" (click)="editRecipe(product.SrNo)"
                            title="Edit Entry">
                            <nb-icon icon="edit"></nb-icon>
                            </button>
                            <!-- <button type="button" nbButton status="danger" (click)="deleteProduct_Confirm(product.SrNo)"
                            title="Delete Entry">
                            <nb-icon icon="trash"></nb-icon>
                            </button> -->
                          </td>
                          <td>{{product.Rnk}}</td>
                          <td>{{product.SrNo}}</td>
                          <td>{{product.Date}}</td>
                          <td>{{product.From_Kitchen}}</td>
                          <td>{{product.To_Kitchen}}</td>
                          <td>
                            <p-badge [value]="product.Status" [severity]="product.Status  == 'Active' ? 'success':'danger'" 
                            styleClass="p-mr-2"></p-badge>
                          </td>
                          <td>{{product.IpAddress}}</td>
                          <td>{{product.CreatedByName}}</td>
                          <td>{{product.CreatedDateTime}}</td>
                          <td>{{product.ModifiedByName}}</td>
                          <td>{{product.ModifiedDateTime}}</td>
                      </tr>
                  </ng-template>
              </p-table>
            </nb-tab>
          </nb-tabset>

           
        </nb-card-body>
        <nb-card-footer>
            <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
            <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
            <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
            <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
          </nb-card-footer>
      </nb-card>
    </div>
  </div>

  <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    
    <nb-card>
      <nb-card-body>
        <form [formGroup]="TrxForm" #formItem="ngForm" aria-labelledby="title">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="selectVendor" class="label">Item Name</label>
              <div class="">
                <!-- [(ngModel)]="Qty" -->
                <p-autoComplete appendTo="body" formControlName="Item" [virtualScroll]="true" [suggestions]="filteredItems" [itemSize]="34" 
                (completeMethod)="filterItems($event)" field="label" [dropdown]="true">
                </p-autoComplete>
                <ng-container *ngIf="t.Item.invalid && t.Item.touched">
                  <p class="caption status-danger" *ngIf="t.Item.hasError('required')">
                    Item is required
                  </p>
                </ng-container>
  
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-4">
            <div class="form-group">
                <label for="inputQty" class="label">Qty</label>
                <input type="text" nbInput fullWidth id="inputQty" formControlName="Qty" placeholder="Qty"
                [status]="t.Qty.dirty ? (t.Qty.invalid  ? 'danger' : 'success') : 'basic'">
                <ng-container *ngIf="t.Qty.invalid && t.Qty.touched">
                  <p class="caption status-danger" *ngIf="t.Qty.hasError('required')">
                    Qty is required
                  </p>
                  <p class="caption status-danger" *ngIf="t.Qty.errors?.pattern">
                    Enter only Number.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-md-8">

            <div class="form-group">
              <label for="selectVendor" class="label">PackUnit</label>
              <div class="">
                <!-- [(ngModel)]="Qty" -->
                <p-autoComplete appendTo="body" formControlName="PackQty" [virtualScroll]="true" [suggestions]="filteredItems_PackUnit" [itemSize]="34" 
               
                (completeMethod)="filterItems_PackUnit($event)" field="label" [dropdown]="true">
                </p-autoComplete>
                <ng-container *ngIf="t.PackQty.invalid && t.PackQty.touched">
                  <p class="caption status-danger" *ngIf="t.PackQty.hasError('required')">
                    PackUnit is required
                  </p>
                </ng-container>
  
              </div>
            </div>


          </div>
          

        </div>
       
        
        
        
      </form>

      </nb-card-body>
    </nb-card>
    <ng-template pTemplate="content">
      
    </ng-template>

    <ng-template pTemplate="footer">
      <button type="reset" nbButton status="basic" (click)="hideDialog()" outline>
        Cancel
      </button>

      <button type="submit" nbButton status="success" class="float-right" 
      [disabled]="submitted_trx || !formItem.valid"
      [class.btn-pulse]="submitted_trx" (click)="saveProduct()" outline>
        Submit
      </button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>