<div class="row">
    <div class="col-md-12">
      <nb-card status="success">
        <nb-card-header>Monthly-Attendance </nb-card-header>
        
        <nb-card-body>
            <form [formGroup]="MonthlyAttendanceForm" #form="ngForm" aria-labelledby="title">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputSrNo" class="label">SrNo</label>
                          <input type="text" nbInput fullWidth id="inputSrNo" formControlName="SrNo" placeholder="SrNo" required [status]="f.SrNo.dirty ? (f.SrNo.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.SrNo.invalid && f.SrNo.touched">
                            <p class="caption status-danger" *ngIf="f.SrNo.invalid">
                                SrNo is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputDate" class="label">Date</label>
                          <input type="text" nbInput fullWidth id="inputDate" formControlName="Date" placeholder="Date" required [status]="f.Date.dirty ? (f.Date.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Date.invalid && f.Date.touched">
                            <p class="caption status-danger" *ngIf="f.Date.invalid">
                                Date is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_Department" class="label">Department</label>
                          <div>
                            <nb-select nbSelect id="select_Department" formControlName="Department" placeholder="Select Department" fullWidth="true">
                              <nb-option>Select Department</nb-option>
                              <nb-option *ngFor="let items of Departments" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.Department.invalid && f.Department.touched">
                              <p class="caption status-danger" *ngIf="f.Department.hasError('required')">
                                Please choose Department
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="select_Calender" class="label">Calender</label>
                      <div>
                        <nb-select nbSelect id="select_Calender" formControlName="Calender" placeholder="Select Calender" fullWidth="true">
                          <nb-option>Select Calender</nb-option>
                          <nb-option *ngFor="let items of Calenders" [value]="items.XCode">
                            {{items.XName}}
                          </nb-option>
                        </nb-select>
                        <ng-container *ngIf="f.Calender.invalid && f.Calender.touched">
                          <p class="caption status-danger" *ngIf="f.Calender.hasError('required')">
                            Please choose Calender
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="select_Period" class="label">Period</label>
                      <div>
                        <nb-select nbSelect id="select_Period" formControlName="Period" placeholder="Select Period" fullWidth="true">
                          <nb-option>Select Period</nb-option>
                          <nb-option *ngFor="let items of Periods" [value]="items.XCode">
                            {{items.XName}}
                          </nb-option>
                        </nb-select>
                        <ng-container *ngIf="f.Period.invalid && f.Period.touched">
                          <p class="caption status-danger" *ngIf="f.Period.hasError('required')">
                            Please choose Period
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="inputWorkingDays" class="label">Working Days</label>
                      <input type="text" nbInput fullWidth id="inputWorkingDays" formControlName="WorkingDays" placeholder="Working Days" required [status]="f.WorkingDays.dirty ? (f.WorkingDays.invalid  ? 'danger' : 'success') : 'basic'">
                      <ng-container *ngIf="f.WorkingDays.invalid && f.WorkingDays.touched">
                        <p class="caption status-danger" *ngIf="f.WorkingDays.invalid">
                          Working Days is required
                        </p>
                      </ng-container>
                    </div>
                  </div>
              </div>
          
              <button type="reset" nbButton status="basic" class="float-right" outline>
                Cancel
              </button>
        
              <button type="submit" nbButton status="success" class="float-right" 
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted" outline>
                Submit
              </button>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
            <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
            <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
            <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
          </nb-card-footer>
      </nb-card>
    </div>
  </div>