<div class="row">
    <div class="col-md-12">
      <nb-card accent="info">
        <nb-card-header>Room </nb-card-header>
        
        <nb-card-body>

          <nb-tabset tabId="tb_fm" (changeTab)="selectTab($event)">
            <nb-tab tabTitle="Room" [active]="tb_IsActive">
              <form [formGroup]="RoomForm" #form="ngForm" aria-labelledby="title" autocomplete="off">
                <div class="row">
                     <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputDate" class="label">Date</label>
                            <input type="text" nbInput fullWidth [nbDatepicker]="inputDate" formControlName="Date" placeholder="Date" required [status]="f.Date.dirty ? (f.Date.invalid  ? 'danger' : 'success') : 'basic'">
                            <nb-datepicker #inputDate></nb-datepicker>
                            <ng-container *ngIf="f.Date.invalid && f.Date.touched">
                              <p class="caption status-danger" *ngIf="f.Date.invalid">
                                Date is required
                              </p>
                            </ng-container>
                          </div>
                    </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputRoomName" class="label">Room Name</label>
                          <input type="text" nbInput fullWidth id="inputRoomName" formControlName="RoomName" placeholder="Room Name" required [status]="f.RoomName.dirty ? (f.RoomName.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.RoomName.invalid && f.RoomName.touched">
                            <p class="caption status-danger" *ngIf="f.RoomName.invalid">
                                Room Name is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputTableNo" class="label">TableNo</label>
                          <input type="text" nbInput fullWidth id="inputTableNo" formControlName="TableNo" placeholder="TableNo" required [status]="f.TableNo.dirty ? (f.TableNo.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.TableNo.invalid && f.TableNo.touched">
                            <p class="caption status-danger" *ngIf="f.TableNo.invalid">
                                Table No is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="select_RoomType" class="label">Room Type</label>
                          <div>
                            <nb-select nbSelect id="select_RoomType" formControlName="RoomType"
                            placeholder="Select Room Type" fullWidth="true">
                              <nb-option>Select Room Type</nb-option>
                              <nb-option *ngFor="let items of RoomType_List" [value]="items.XCode">
                                {{items.XName}}
                              </nb-option>
                            </nb-select>
                            <ng-container *ngIf="f.RoomType.invalid && f.RoomType.touched">
                              <p class="caption status-danger" *ngIf="f.RoomType.hasError('required')">
                                Please choose Room Type
                              </p>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mt-4">
                        <nb-toggle status="primary" formControlName="InActive" >InActive</nb-toggle>
                    </div>
                      
                  </div>
                  
                

                  <button type="reset" nbButton status="basic" class="float-right" 
                  (click)="Btn_Reset()" outline>
                   Cancel
                 </button>
           
                 <button type="submit" nbButton status="success" class="float-right mr-2" *ngIf="!IsUpdate"
                 [disabled]="submitted || !form.valid"
                 [class.btn-pulse]="submitted" name="Save" (click)="onSubmit('Save')" outline>
                   Submit
                 </button>
         
                 <button type="submit" nbButton status="info" class="float-right mr-2" *ngIf="IsUpdate"
                 [disabled]="submitted || !form.valid"
                 [class.btn-pulse]="submitted" name="Update" (click)="onSubmit('Update')" outline>
                   Update
                 </button>
                </form>
            </nb-tab>
            <nb-tab tabId="tb_lstVw" tabTitle="List-View" [active]="!tb_IsActive">
              <p-table #dt1 [value]="Prod_ListView" dataKey="id" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
              styleClass="p-datatable-sm p-datatable-striped p-datatable-customers p-datatable-gridlines" 
              responsiveLayout="scroll"
              [resizableColumns]="true"
              [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="tble_loading"
              [rowsPerPageOptions]="[10,25,50]">

              <ng-template pTemplate="caption">
                <div class="test">
                <div class="table-header">
                    List-View
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="p-inputtext" placeholder="Search keyword" />
                    </span>
                </div>
              </div>
            </ng-template>
              
                  <ng-template pTemplate="header">
                      <tr>
                          <th pResizableColumn>Action</th>
                          <th>Rnk</th>
                          <th>SrNo</th>
                          <th>Date</th>
                          <th>Room Name</th>
                          <th>Table No</th>
                          <th>Room Type</th>
                          <th>Status</th>
                          <th>IpAddress</th>
                          <th>CreatedByName</th>
                          <th>CreatedDateTime</th>
                          <th>ModifiedByName</th>
                          <th>ModifiedDateTime</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                      <tr>
                          <td>
                            <button type="button" nbButton status="success" class="mr-2" (click)="edit_Room(product.SrNo)"
                            title="Edit Entry">
                            <nb-icon icon="edit"></nb-icon>
                            </button>
                            <button type="button" nbButton status="danger" (click)="deleteProduct_Confirm(product.SrNo)"
                            title="Delete Entry">
                            <nb-icon icon="trash"></nb-icon>
                            </button>
                          </td>
                          <td>{{product.Rnk}}</td>
                          <td>{{product.SrNo}}</td>
                          <td>{{product.Date}}</td>
                          <td>{{product.RoomName}}</td>
                          <td>{{product.TableNo}}</td>
                          <td>{{product.RoomType}}</td>
                          <td>
                            <p-badge [value]="product.Status" [severity]="product.Status  == 'Active' ? 'success':'danger'" 
                            styleClass="p-mr-2"></p-badge>
                            <!-- <span [class]="'product-badge status-success">
                              {{product.Status}}</span> -->
                            <!-- {{product.Status}} -->
                          </td>
                          <td>{{product.IpAddress}}</td>
                          <td>{{product.CreatedByName}}</td>
                          <td>{{product.CreatedDateTime}}</td>
                          <td>{{product.ModifiedByName}}</td>
                          <td>{{product.ModifiedDateTime}}</td>
                      </tr>
                  </ng-template>
              </p-table>
            </nb-tab>
          </nb-tabset>

           
        </nb-card-body>
        <nb-card-footer>
            <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
            <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
            <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
            <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
          </nb-card-footer>
      </nb-card>
    </div>
  </div>
