<div class="row">
    <div class="col-md-12">
      <nb-card status="success">
        <nb-card-header>Employee-Profile </nb-card-header>
        
        <nb-card-body>
            <form [formGroup]="EmployeeProfileForm" #form="ngForm" aria-labelledby="title">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputSrNo" class="label">SrNo</label>
                          <input type="text" nbInput fullWidth id="inputSrNo" formControlName="SrNo" placeholder="SrNo" required [status]="f.SrNo.dirty ? (f.SrNo.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.SrNo.invalid && f.SrNo.touched">
                            <p class="caption status-danger" *ngIf="f.SrNo.invalid">
                                SrNo is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputDate" class="label">Date</label>
                          <input type="text" nbInput fullWidth id="inputDate" formControlName="Date" placeholder="Date" required [status]="f.Date.dirty ? (f.Date.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Date.invalid && f.Date.touched">
                            <p class="caption status-danger" *ngIf="f.Date.invalid">
                                Date is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputName" class="label">Name</label>
                          <input type="text" nbInput fullWidth id="inputName" formControlName="Name" placeholder="Name" required [status]="f.Name.dirty ? (f.Name.invalid  ? 'danger' : 'success') : 'basic'">
                          <ng-container *ngIf="f.Name.invalid && f.Name.touched">
                            <p class="caption status-danger" *ngIf="f.Name.invalid">
                                Name is required
                            </p>
                          </ng-container>
                        </div>
                      </div>
                </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="inputMobile" class="label">Mobile</label>
                      <input type="text" nbInput fullWidth id="inputMobile" formControlName="Mobile" placeholder="Mobile" required [status]="f.Mobile.dirty ? (f.Mobile.invalid  ? 'danger' : 'success') : 'basic'">
                      <ng-container *ngIf="f.Mobile.invalid && f.Mobile.touched">
                        <p class="caption status-danger" *ngIf="f.Mobile.invalid">
                            Mobile is required
                        </p>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="inputEmail" class="label">Email</label>
                      <input type="text" nbInput fullWidth id="inputEmail" formControlName="Email" placeholder="Email" required [status]="f.Email.dirty ? (f.Email.invalid  ? 'danger' : 'success') : 'basic'">
                      <ng-container *ngIf="f.Email.invalid && f.Email.touched">
                        <p class="caption status-danger" *ngIf="f.Email.invalid">
                            Email is required
                        </p>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="inputDOB" class="label">DOB</label>
                      <input type="text" nbInput fullWidth id="inputDOB" formControlName="DOB" placeholder="DOB" required [status]="f.DOB.dirty ? (f.DOB.invalid  ? 'danger' : 'success') : 'basic'">
                      <ng-container *ngIf="f.DOB.invalid && f.DOB.touched">
                        <p class="caption status-danger" *ngIf="f.DOB.invalid">
                            DOB is required
                        </p>
                      </ng-container>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="select_Gender" class="label">Gender</label>
                      <div>
                        <nb-select nbSelect id="select_Gender" formControlName="Gender" placeholder="Select Gender" fullWidth="true">
                          <nb-option>Select Gender</nb-option>
                          <nb-option *ngFor="let items of Genders" [value]="items.XCode">
                            {{items.XName}}
                          </nb-option>
                        </nb-select>
                        <ng-container *ngIf="f.Gender.invalid && f.Gender.touched">
                          <p class="caption status-danger" *ngIf="f.Gender.hasError('required')">
                            Please choose Gender
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="select_MaritalStatus" class="label">Marital Status</label>
                      <div>
                        <nb-select nbSelect id="select_MaritalStatus" formControlName="MaritalStatus" placeholder="Select Marital Status" fullWidth="true">
                          <nb-option>Select Marital Status</nb-option>
                          <nb-option *ngFor="let items of MaritalStatuss" [value]="items.XCode">
                            {{items.XName}}
                          </nb-option>
                        </nb-select>
                        <ng-container *ngIf="f.MaritalStatus.invalid && f.MaritalStatus.touched">
                          <p class="caption status-danger" *ngIf="f.MaritalStatus.hasError('required')">
                            Please choose Marital Status
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="inputQualification" class="label">Qualification</label>
                      <input type="text" nbInput fullWidth id="inputQualification" formControlName="Qualification" placeholder="Qualification" required [status]="f.Qualification.dirty ? (f.Qualification.invalid  ? 'danger' : 'success') : 'basic'">
                      <ng-container *ngIf="f.Qualification.invalid && f.Qualification.touched">
                        <p class="caption status-danger" *ngIf="f.Qualification.invalid">
                            Qualification is required
                        </p>
                      </ng-container>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_Nationality" class="label">Nationality</label>
                    <div>
                      <nb-select nbSelect id="select_Nationality" formControlName="Nationality" placeholder="Select Nationality" fullWidth="true">
                        <nb-option>Select Nationality</nb-option>
                        <nb-option *ngFor="let items of Nationalitys" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.Nationality.invalid && f.Nationality.touched">
                        <p class="caption status-danger" *ngIf="f.Nationality.hasError('required')">
                          Please choose Nationality
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputAddress" class="label">Address</label>
                    <input type="text" nbInput fullWidth id="inputAddress" formControlName="Address" placeholder="Address" required [status]="f.Address.dirty ? (f.Address.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.Address.invalid && f.Address.touched">
                      <p class="caption status-danger" *ngIf="f.Address.invalid">
                        Address is required
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputDOJ" class="label">DOJ</label>
                    <input type="text" nbInput fullWidth id="inputDOJ" formControlName="DOJ" placeholder="DOJ" required [status]="f.DOJ.dirty ? (f.DOJ.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.DOJ.invalid && f.DOJ.touched">
                      <p class="caption status-danger" *ngIf="f.DOJ.invalid">
                        DOJ is required
                      </p>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_Department" class="label">Department</label>
                    <div>
                      <nb-select nbSelect id="select_Department" formControlName="Department" placeholder="Select Department" fullWidth="true">
                        <nb-option>Select Department</nb-option>
                        <nb-option *ngFor="let items of Departments" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.Department.invalid && f.Department.touched">
                        <p class="caption status-danger" *ngIf="f.Department.hasError('required')">
                          Please choose Department
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_JobPost" class="label">Job Post</label>
                    <div>
                      <nb-select nbSelect id="select_JobPost" formControlName="JobPost" placeholder="Select Job Post" fullWidth="true">
                        <nb-option>Select Job Post</nb-option>
                        <nb-option *ngFor="let items of JobPosts" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.JobPost.invalid && f.JobPost.touched">
                        <p class="caption status-danger" *ngIf="f.JobPost.hasError('required')">
                          Please choose Job Post
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_SalaryPaidOn" class="label">Salary Paid On</label>
                    <div>
                      <nb-select nbSelect id="select_SalaryPaidOn" formControlName="SalaryPaidOn" placeholder="Select Salary Paid On" fullWidth="true">
                        <nb-option>Select Salary Paid On</nb-option>
                        <nb-option *ngFor="let items of SalaryPaidOns" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.SalaryPaidOn.invalid && f.SalaryPaidOn.touched">
                        <p class="caption status-danger" *ngIf="f.SalaryPaidOn.hasError('required')">
                          Please choose Salary Paid On
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_Status" class="label">Status</label>
                    <div>
                      <nb-select nbSelect id="select_Status" formControlName="Status" placeholder="Select Status" fullWidth="true">
                        <nb-option>Select Status</nb-option>
                        <nb-option *ngFor="let items of Statuss" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.Status.invalid && f.Status.touched">
                        <p class="caption status-danger" *ngIf="f.Status.hasError('required')">
                          Please choose Status
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="select_EmployeeType" class="label">Employee Type</label>
                    <div>
                      <nb-select nbSelect id="select_EmployeeType" formControlName="EmployeeType" placeholder="Select Employee Type" fullWidth="true">
                        <nb-option>Select Employee Type</nb-option>
                        <nb-option *ngFor="let items of EmployeeTypes" [value]="items.XCode">
                          {{items.XName}}
                        </nb-option>
                      </nb-select>
                      <ng-container *ngIf="f.EmployeeType.invalid && f.EmployeeType.touched">
                        <p class="caption status-danger" *ngIf="f.EmployeeType.hasError('required')">
                          Please choose Employee Type
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputEmpId" class="label">Emp Id</label>
                    <input type="text" nbInput fullWidth id="inputEmpId" formControlName="EmpId" placeholder="Emp Id" required [status]="f.EmpId.dirty ? (f.EmpId.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.EmpId.invalid && f.EmpId.touched">
                      <p class="caption status-danger" *ngIf="f.EmpId.invalid">
                        EmpId is required
                      </p>
                    </ng-container>
                  </div>
                </div>
              </div>
          
              <button type="reset" nbButton status="basic" class="float-right" outline>
                Cancel
              </button>
        
              <button type="submit" nbButton status="success" class="float-right" 
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted" outline>
                Submit
              </button>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
            <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
            <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
            <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
          </nb-card-footer>
      </nb-card>
    </div>
  </div>