<div class="row">
    <div class="col-md-12">
      <nb-card status="success">
        <nb-card-header>Purchase-Order Return Form</nb-card-header>
        
        <nb-card-body>
          <form [formGroup]="POReturnForm" #form="ngForm" aria-labelledby="title">
          <div class="row">
  
            <div class="col-md-3">
                <div class="form-group">
                    <label for="inputSrNo" class="label">SrNo</label>
                    <input type="text" nbInput fullWidth id="inputSrNo" formControlName="SrNo" placeholder="SrNo" required [status]="f.SrNo.dirty ? (f.SrNo.invalid  ? 'danger' : 'success') : 'basic'">
                    <ng-container *ngIf="f.SrNo.invalid && f.SrNo.touched">
                      <p class="caption status-danger" *ngIf="f.SrNo.invalid">
                        SrNo is required
                      </p>
                    </ng-container>
                  </div>
            </div>
            <div class="col-md-1">
              <!-- <button type="button" nbButton status="info" class="mt-4" outline>Edit</button> -->
              <button type="button" nbButton status="info" class="mt-4" outline><nb-icon icon="edit"></nb-icon></button>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="inputDate" class="label">Date</label>
                    <input type="text" nbInput fullWidth [nbDatepicker]="inputDate" formControlName="Date" placeholder="Date" required [status]="f.Date.dirty ? (f.Date.invalid  ? 'danger' : 'success') : 'basic'">
                    <nb-datepicker #inputDate></nb-datepicker>
                    <ng-container *ngIf="f.Date.invalid && f.Date.touched">
                      <p class="caption status-danger" *ngIf="f.Date.invalid">
                        Date is required
                      </p>
                    </ng-container>
                  </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="selectVendor" class="label">Vendor</label>
                <div class="">
                  <nb-select nbSelect id="selectVendor" formControlName="Vendor" fullWidth placeholder="Select Vendor">
                    <nb-option>Select Vendor</nb-option>
                    <nb-option *ngFor="let items of Vendor_List" [value]="items.XCode">
                      {{items.XName}}
                    </nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
            
           
          </div>
          <hr>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <legend>Image 1</legend>
                <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                </ng2-smart-table>
            </div>
            
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" nbInput fullWidth placeholder="Total Amount">
                  </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                    <input type="text" nbInput fullWidth placeholder="Total Discount">
                  </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                    <input type="text" nbInput fullWidth placeholder="Total NetAmount">
                  </div>
              </div>
              
        </div>
         
         <button type="reset" nbButton status="basic" class="float-right" outline>
          Cancel
        </button>
  
        <button type="submit" nbButton status="success" class="float-right" 
        [disabled]="submitted || !form.valid"
        [class.btn-pulse]="submitted" outline>
          Submit
        </button>
        </form>
        </nb-card-body>
        <nb-card-footer>
          <span class="caption status-danger pull-left" style="margin-top: 24px;">{{error}}</span>
          <nb-alert status="success" *ngIf="IsSucess">{{IsSucessMsg}}</nb-alert>
          <nb-alert status="warning" *ngIf="IsWarning">{{IsWarningMsg}}</nb-alert>
          <nb-alert status="danger" *ngIf="IsDanger">{{IsDangerMsg}}</nb-alert>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>